<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="vendor/slick-1.8.1/slick/slick.css">
  <link rel="stylesheet" href="vendor/slick-1.8.1/slick/slick-theme.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="./../Page_News/footer.css">
  <title>Home</title>
</head>
<body>
    <div class="header-background" style="background-image: url('/images/home/BG_header.jpg')">
        <header id="nav" class="sticky-nav">
          <nav class="navbar navbar-expand-lg">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img style="width: 100px;" src="~/images/dong-tay-bac/Logo.svg" alt="Vitrip">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span></span>
                <span></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Về vitrip.me</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Du lịch Việt Nam</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Mice Tour</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Tra cứu booking</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Tin tức</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                  </li>
                </ul>

                <div class="navbar-left">
                  <div class="btn-left-nav">
                    <i class="fas fa-globe-africa"></i>
                  </div>
                  <div class="btn-left-nav ms-1">
                    <i class="fas fa-bars me-1 ps-2"></i>
                    <i class="fas fa-user-circle pe-2" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </header>

	<div class="contac_item">
	  <ul>
		<li class="mt-3">
		  <img src="./images/zalo.png" alt="" width="30px">
		</li>
		<li class="mt-3">
		  <img src="./images/telephone.png" alt="" width="30px">
		</li>
		<li class="mt-3">
		  <img src="./images/email.png" alt="" width="30px">
		</li>
	  </ul>
	</div>

    <div class="heading">
      <div class="container">
        <div class="main">
          <h5>Tour thiết kế dành riêng cho bạn</h5>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle btn-choose-place" type="button" id="chooseLocation"
              data-bs-toggle="dropdown" aria-expanded="false">
              Chọn địa điểm
            </button>
            <ul class="dropdown-menu" aria-labelledby="chooseLocation">
              <li><a class="dropdown-item" href="#">Hà Nội</a></li>
              <li><a class="dropdown-item" href="#">Đà Nẵng</a></li>
              <li><a class="dropdown-item" href="#">TP.HCM</a></li>
            </ul>
          </div>
          <div>
            <button type="button" class="btn-send-request">Gửi yêu cầu</button>
          </div>
        </div>

        <div class="container my-4">
          <!--Carousel Wrapper-->
          <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!--Indicators-->
            <ol class="carousel-indicators">
              <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
              <li data-target="#multi-item-example" data-slide-to="1"></li>
              <li data-target="#multi-item-example" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">

              <!--First slide-->
              <div class="carousel-item active">

                <div class="row">
                  <div class="col-md-4">
                    <div class="card mb-2">
                      <div class="bottom-left-1">Tour du lịch Phú Quốc</div>
                      <div class="shadow-card"></div>
                      <img class="card-img-top"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                        alt="Card image cap">
                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                      <div class="bottom-left-1">Tour du lịch Chùa Hương</div>
                      <div class="shadow-card"></div>
                      <img class="card-img-top"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                        alt="Card image cap">
                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                      <div class="bottom-left-1">Tour du lịch Mộc Châu</div>
                      <div class="shadow-card"></div>
                      <img class="card-img-top"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                        alt="Card image cap">
                    </div>
                  </div>
                </div>

              </div>
              <!--/.First slide-->

              <!--Second slide-->
              <div class="carousel-item">

                <div class="row">
                  <div class="col-md-4">
                    <div class="card mb-2">
                      <img class="card-img-top"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                        alt="Card image cap">
                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                      <img class="card-img-top"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                        alt="Card image cap">
                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                      <img class="card-img-top"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                        alt="Card image cap">
                    </div>
                  </div>
                </div>

              </div>
              <!--/.Second slide-->

              <!--Third slide-->
              <div class="carousel-item">

                <div class="row">
                  <div class="col-md-4">
                    <div class="card mb-2">
                      <img class="card-img-top"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                        alt="Card image cap">
                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                      <img class="card-img-top"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                        alt="Card image cap">
                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                      <img class="card-img-top"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                        alt="Card image cap">
                    </div>
                  </div>
                </div>

              </div>
              <!--/.Third slide-->

            </div>
            <!--/.Slides-->

          </div>
          <!--/.Carousel Wrapper-->
        </div>
      </div>
    </div>

    <div class="impressive-tutorial">
      <div class="container" id="vn-impression">
        <div>
          <h4 style="color: rgb(0, 174, 255);">Ấn tượng Việt Nam</h4>
          <p class="vn-paragraph">Những Địa điểm du Lịch nổi tiếng tại Việt Nam mà bạn chắc chắn sẽ rất thích</p>
        </div>

        <div>
          <ul class="nav nav-pills mb-3 btn-group-tutorial" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                type="button" role="tab" aria-controls="pills-home" aria-selected="true">Miền Bắc</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Miền Trung</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Miền Nam</button>
            </li>
          </ul>

          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="row">
                <div class="col-sm-4 col-md-4 vn-tutorial">
                  <a class="vn-tutorial-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="vn-tutorial-hover">
                      <div class="vn-tutorial-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Hạ Long</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid" src="https://picsum.photos/300/200?random=2">
                  </a>
                </div>
                <div class="col-sm-4 col-md-4 vn-tutorial">
                  <a class="vn-tutorial-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="vn-tutorial-hover">
                      <div class="vn-tutorial-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Hải Phòng</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid" src="https://picsum.photos/300/200?random=3">
                  </a>
                </div>
                <div class="col-sm-4 col-md-4 vn-tutorial">
                  <a class="vn-tutorial-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="vn-tutorial-hover">
                      <div class="vn-tutorial-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Hà Nội</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid" src="https://picsum.photos/300/200?random=4">
                  </a>
                </div>
                <div class="col-sm-4 col-md-4 vn-tutorial">
                  <a class="vn-tutorial-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="vn-tutorial-hover">
                      <div class="vn-tutorial-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Lạng Sơn</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid" src="https://picsum.photos/300/200?random=5">
                  </a>
                </div>
                <div class="col-sm-4 col-md-4 vn-tutorial">
                  <a class="vn-tutorial-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="vn-tutorial-hover">
                      <div class="vn-tutorial-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Sapa</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid" src="https://picsum.photos/300/200?random=6">
                  </a>
                </div>
                <div class="col-sm-4 col-md-4 vn-tutorial">
                  <a class="vn-tutorial-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="vn-tutorial-hover">
                      <div class="vn-tutorial-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Quảng Ninh</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid" src="https://picsum.photos/300/200?random=7">
                  </a>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="row">
                <div class="col-sm-4 col-md-4 vn-tutorial">
                  <a class="vn-tutorial-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="vn-tutorial-hover">
                      <div class="vn-tutorial-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Hạ Long</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid" src="https://picsum.photos/300/200?random=2">
                  </a>
                </div>
                <div class="col-sm-4 col-md-4 vn-tutorial">
                  <a class="vn-tutorial-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="vn-tutorial-hover">
                      <div class="vn-tutorial-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Hạ Long</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid" src="https://picsum.photos/300/200?random=2">
                  </a>
                </div>
                <div class="col-sm-4 col-md-4 vn-tutorial">
                  <a class="vn-tutorial-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="vn-tutorial-hover">
                      <div class="vn-tutorial-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Hạ Long</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid" src="https://picsum.photos/300/200?random=2">
                  </a>
                </div>
                <div class="col-sm-4 col-md-4 vn-tutorial">
                  <a class="vn-tutorial-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="vn-tutorial-hover">
                      <div class="vn-tutorial-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Hải Phòng</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid" src="https://picsum.photos/300/200?random=2">
                  </a>
                </div>
                <div class="col-sm-4 col-md-4 vn-tutorial">
                  <a class="vn-tutorial-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="vn-tutorial-hover">
                      <div class="vn-tutorial-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Hà Nội</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid" src="https://picsum.photos/300/200?random=2">
                  </a>
                </div>
                <div class="col-sm-4 col-md-4 vn-tutorial">
                  <a class="vn-tutorial-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="vn-tutorial-hover">
                      <div class="vn-tutorial-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Hạ Long</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid" src="https://picsum.photos/300/200?random=2">
                  </a>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
              <div class="row">
                <div class="col-sm-4 col-md-4 vn-tutorial">
                  <a class="vn-tutorial-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="vn-tutorial-hover">
                      <div class="vn-tutorial-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Hạ Long</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid" src="https://picsum.photos/300/200?random=2">
                  </a>
                </div>
                <div class="col-sm-4 col-md-4 vn-tutorial">
                  <a class="vn-tutorial-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="vn-tutorial-hover">
                      <div class="vn-tutorial-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Hạ Long</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid" src="https://picsum.photos/300/200?random=2">
                  </a>
                </div>
                <div class="col-sm-4 col-md-4 vn-tutorial">
                  <a class="vn-tutorial-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="vn-tutorial-hover">
                      <div class="vn-tutorial-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Hạ Long</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid" src="https://picsum.photos/300/200?random=2">
                  </a>
                </div>
                <div class="col-sm-4 col-md-4 vn-tutorial">
                  <a class="vn-tutorial-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="vn-tutorial-hover">
                      <div class="vn-tutorial-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Hạ Long</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid" src="https://picsum.photos/300/200?random=2">
                  </a>
                </div>
                <div class="col-sm-4 col-md-4 vn-tutorial">
                  <a class="vn-tutorial-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="vn-tutorial-hover">
                      <div class="vn-tutorial-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Hạ Long</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid" src="https://picsum.photos/300/200?random=2">
                  </a>
                </div>
                <div class="col-sm-4 col-md-4 vn-tutorial">
                  <a class="vn-tutorial-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="vn-tutorial-hover">
                      <div class="vn-tutorial-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Hạ Long</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid" src="https://picsum.photos/300/200?random=2">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button class="all-tutorial">Tất cả Tour</button>
        </div>
      </div>
    </div>

    <div class="reason">
      <div class="container text-center" style="padding-top: 110px">
        <div class="reason-title">
          <h4>Lí do nên chọn Vtrip.me</h4>
          <p class="reason-paragraph" style="font-size: 15px;">Những lý do mà bạn hoàn toàn có thể yên tâm, khi lựa
            chọn
            Vtrip.me</p>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-xs-12 col-sm-3 col-lg-3 column-reason">
            <div class="icon-reason">
              <i class="fas fa-baseball-ball"></i>
            </div>
            <div>
              <strong class="reason-text-1">Địa điểm phù hợp</strong>
              <p class="reason-text-2">Với trên 10 năm kinh nghiệm làm du lịch, chúng tôi sẵn sàng tư vấn cho Quý
                khách
                những điểm đến hợp lý
                và
                lịch trình phù hợp nhất cho quỹ thời gian của Quý Vị</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-lg-3 column-reason">
            <div class="icon-reason">
              <i class="fas fa-baseball-ball"></i>
            </div>
            <div>
              <strong class="reason-text-1">Địa điểm phù hợp</strong>
              <p class="reason-text-2">Với trên 10 năm kinh nghiệm làm du lịch, chúng tôi sẵn sàng tư vấn cho Quý
                khách
                những điểm đến hợp lý
                và
                lịch trình phù hợp nhất cho quỹ thời gian của Quý Vị</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-lg-3 column-reason">
            <div class="icon-reason">
              <i class="fas fa-baseball-ball"></i>
            </div>
            <div>
              <strong>Địa điểm phù hợp</strong>
              <p class="reason-text-2">Với trên 10 năm kinh nghiệm làm du lịch, chúng tôi sẵn sàng tư vấn cho Quý
                khách
                những điểm đến hợp lý
                và
                lịch trình phù hợp nhất cho quỹ thời gian của Quý Vị</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-xs-12 col-sm-3 col-lg-3 column-reason">
            <div class="icon-reason">
              <i class="fas fa-baseball-ball"></i>
            </div>
            <div>
              <strong class="reason-text-1">Địa điểm phù hợp</strong>
              <p class="reason-text-2">Với trên 10 năm kinh nghiệm làm du lịch, chúng tôi sẵn sàng tư vấn cho Quý
                khách
                những điểm đến hợp lý
                và
                lịch trình phù hợp nhất cho quỹ thời gian của Quý Vị</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-lg-3 column-reason">
            <div class="icon-reason">
              <i class="fas fa-baseball-ball"></i>
            </div>
            <div>
              <strong class="reason-text-1">Địa điểm phù hợp</strong>
              <p class="reason-text-2">Với trên 10 năm kinh nghiệm làm du lịch, chúng tôi sẵn sàng tư vấn cho Quý
                khách
                những điểm đến hợp lý
                và
                lịch trình phù hợp nhất cho quỹ thời gian của Quý Vị</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-lg-3 column-reason">
            <div class="icon-reason">
              <i class="fas fa-baseball-ball"></i>
            </div>
            <div>
              <strong>Địa điểm phù hợp</strong>
              <p class="reason-text-2">Với trên 10 năm kinh nghiệm làm du lịch, chúng tôi sẵn sàng tư vấn cho Quý
                khách
                những điểm đến hợp lý
                và
                lịch trình phù hợp nhất cho quỹ thời gian của Quý Vị</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="contact">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-lg-7 contact-left">
          <div class="row justify-content-md-center">
            <div class="col-xs-12 col-sm-5 col-lg-5">
              <div class="text-left-block">
                <div class="left-center-text">
                  <div class="left-center-part">
                    <form id="contact-form" name="contact-form" method="POST" data-name="Contact-form">
                      <h5 class="contact-section">Đăng ký ngay hôm nay để nhận thật nhiều ưu đãi</h5>
                      <div class="form-group">
                        <input type="email" id="email" class="form form-control" placeholder="Email" name="email"
                          data-name="Email" required>
                      </div>
                      <div>
                        <button type="button" class="btn-send-request">Đăng ký</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-lg-5 contact-right">
        </div>
      </div>
    </div>

    <div class="tel-stories">
      <div class="container" id="your-stories">
        <div class="stories">
          <h4 class="mt-5 stories-title" style="color: rgb(0, 174, 255);">Tell Your Stories</h4>
          <p class="stories-text">Cùng xem lại những kỷ niệm của khách hàng trong các chuyến du Lịch cùng Vtrip.me
          </p>
        </div>

        <div class="btn-tutorial">
          <ul class="nav nav-pills mb-3 btn-group-stories" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-images-tab" data-bs-toggle="pill" data-bs-target="#pills-images"
                type="button" role="tab" aria-controls="pills-images" aria-selected="true">Ảnh</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-video-tab" data-bs-toggle="pill" data-bs-target="#pills-video"
                type="button" role="tab" aria-controls="pills-video" aria-selected="false">Video</button>
            </li>
          </ul>

          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-images" role="tabpanel" aria-labelledby="pills-images-tab">
              <div class="row">
                <div class="col-sm-8 col-md-8 your-stories-tag-big">
                  <a class="your-stories-tag-big-link" href="#yourstoriestagModal" data-bs-toggle="modal">
                    <div class="your-stories-tag-big-hover">
                      <div class="your-stories-tag-big-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Côn Đảo_11.10.2016</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid-big" src="https://picsum.photos/300/200?random=21">
                  </a>
                </div>

                <div class="col-sm-4 col-md-4">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 your-stories-tag-smaill">
                      <a class="your-stories-tag-smaill-link" href="#vntutorialModal" data-bs-toggle="modal">
                        <div class="your-stories-tag-smaill-hover">
                          <div class="your-stories-tag-smaill-hover-content">
                            <i class="fas fa-eye fa-3x"></i>
                          </div>
                        </div>
                        <div class="bottom-left">Cúc Phương_2012</div>
                        <div class="picture-gradient"></div>
                        <img class="img-fluid-smaill" src="https://picsum.photos/300/200?random=22">
                      </a>
                    </div>

                    <div class="col-sm-12 col-md-12 your-stories-tag-smaill">
                      <a class="your-stories-tag-smaill-link" href="#vntutorialModal" data-bs-toggle="modal">
                        <div class="your-stories-tag-smaill-hover">
                          <div class="your-stories-tag-smaill-hover-content">
                            <i class="fas fa-eye fa-3x"></i>
                          </div>
                        </div>
                        <div class="bottom-left">Cửa lò_2011</div>
                        <div class="picture-gradient"></div>
                        <img class="img-fluid-smaill" src="https://picsum.photos/300/200?random=23">
                      </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4 col-md-4 your-stories-tag-smaill">
                  <a class="your-stories-tag-smaill-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="your-stories-tag-smaill-hover">
                      <div class="your-stories-tag-smaill-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Phú Quốc_24.12.2017</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid-smaill" src="https://picsum.photos/300/200?random=24">
                  </a>
                </div>
                <div class="col-sm-4 col-md-4 your-stories-tag-smaill">
                  <a class="your-stories-tag-smaill-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="your-stories-tag-smaill-hover">
                      <div class="your-stories-tag-smaill-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Thái Lan_6.7.2014</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid-smaill" src="https://picsum.photos/300/200?random=26">
                  </a>
                </div>
                <div class="col-sm-4 col-md-4 your-stories-tag-smaill">
                  <a class="your-stories-tag-smaill-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="your-stories-tag-smaill-hover">
                      <div class="your-stories-tag-smaill-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Hạ Long_2020</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid-smaill" src="https://picsum.photos/300/200?random=25">
                  </a>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
              <div class="row">
                <div class="col-sm-8 col-md-8 your-stories-tag-big">
                  <a class="your-stories-tag-big-link" href="#yourstoriestagModal" data-bs-toggle="modal">
                    <div class="your-stories-tag-big-hover">
                      <div class="your-stories-tag-big-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Côn Đảo_11.10.2016</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid-big" src="https://picsum.photos/300/200?random=2">
                  </a>
                </div>

                <div class="col-sm-4 col-md-4">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 your-stories-tag-smaill">
                      <a class="your-stories-tag-smaill-link" href="#vntutorialModal" data-bs-toggle="modal">
                        <div class="your-stories-tag-smaill-hover">
                          <div class="your-stories-tag-smaill-hover-content">
                            <i class="fas fa-eye fa-3x"></i>
                          </div>
                        </div>
                        <div class="bottom-left">Cúc Phương_2012</div>
                        <div class="picture-gradient"></div>
                        <img class="img-fluid-smaill" src="https://picsum.photos/300/200?random=3">
                      </a>
                    </div>

                    <div class="col-sm-12 col-md-12 your-stories-tag-smaill">
                      <a class="your-stories-tag-smaill-link" href="#vntutorialModal" data-bs-toggle="modal">
                        <div class="your-stories-tag-smaill-hover">
                          <div class="your-stories-tag-smaill-hover-content">
                            <i class="fas fa-eye fa-3x"></i>
                          </div>
                        </div>
                        <div class="bottom-left">Cửa lò_2011</div>
                        <div class="picture-gradient"></div>
                        <img class="img-fluid-smaill" src="https://picsum.photos/300/200?random=4">
                      </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4 col-md-4 your-stories-tag-smaill">
                  <a class="your-stories-tag-smaill-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="your-stories-tag-smaill-hover">
                      <div class="your-stories-tag-smaill-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Phú Quốc_24.12.2017</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid-smaill" src="https://picsum.photos/300/200?random=5">
                  </a>
                </div>
                <div class="col-sm-4 col-md-4 your-stories-tag-smaill">
                  <a class="your-stories-tag-smaill-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="your-stories-tag-smaill-hover">
                      <div class="your-stories-tag-smaill-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Thái Lan_6.7.2014</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid-smaill" src="https://picsum.photos/300/200?random=6">
                  </a>
                </div>
                <div class="col-sm-4 col-md-4 your-stories-tag-smaill">
                  <a class="your-stories-tag-smaill-link" href="#vntutorialModal" data-bs-toggle="modal">
                    <div class="your-stories-tag-smaill-hover">
                      <div class="your-stories-tag-smaill-hover-content">
                        <i class="fas fa-eye fa-3x"></i>
                      </div>
                    </div>
                    <div class="bottom-left">Hạ Long_2020</div>
                    <div class="picture-gradient"></div>
                    <img class="img-fluid-smaill" src="https://picsum.photos/300/200?random=7">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button class="btn-stories">Xem tất cả</button>
        </div>
      </div>

      <div class="container pt-5 pb-5">
        <div>
          <h5 class="evaluate-title">Đánh giá của khách hàng</h5>
        </div>       

        <div class="container mt-3">
          <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card mb-2 card-evaluate">
                      <div class="card-body" style="display:flex">
                        <div class="evaluate-tab-right">
                          <img class="evaluate-tab-img" src="./images/images.png" alt="...">
                        </div>
                        <div class="evaluate-tab-left">
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i
                                class="fa fa-star rating-color"></i>
                              <i class="fa fa-star rating-color"></i> <i class="fa fa-star"></i> <i
                                class="fa fa-star"></i>
                            </div>
                          </div>
                          <div>
                            <p class="evaluate-tab-text">Tôi đã tìm được cho mình một Tour Du Lịch thật tuyệt vời, cảm
                              ơn
                              Vtrip.me
                              về
                              dịch vụ của các bạn. Tôi sẽ
                              còn quay lại vào lần sau.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2 card-evaluate">
                      <div class="card-body" style="display:flex">
                        <div class="evaluate-tab-right">
                          <img class="evaluate-tab-img" src="./images/images.png" alt="...">
                        </div>
                        <div class="evaluate-tab-left">
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i
                                class="fa fa-star rating-color"></i>
                              <i class="fa fa-star rating-color"></i> <i class="fa fa-star"></i> <i
                                class="fa fa-star"></i>
                            </div>
                          </div>
                          <div>
                            <p class="evaluate-tab-text">Tôi đã tìm được cho mình một Tour Du Lịch thật tuyệt vời, cảm
                              ơn
                              Vtrip.me
                              về
                              dịch vụ của các bạn. Tôi sẽ
                              còn quay lại vào lần sau.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2 card-evaluate">
                      <div class="card-body" style="display:flex">
                        <div class="evaluate-tab-right">
                          <img class="evaluate-tab-img" src="./images/images.png" alt="...">
                        </div>
                        <div class="evaluate-tab-left">
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i
                                class="fa fa-star rating-color"></i>
                              <i class="fa fa-star rating-color"></i> <i class="fa fa-star"></i> <i
                                class="fa fa-star"></i>
                            </div>
                          </div>
                          <div>
                            <p class="evaluate-tab-text">Tôi đã tìm được cho mình một Tour Du Lịch thật tuyệt vời, cảm
                              ơn
                              Vtrip.me
                              về
                              dịch vụ của các bạn. Tôi sẽ
                              còn quay lại vào lần sau.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card mb-2">
                      <img class="card-img-top"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                        alt="Card image cap">
                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                      <img class="card-img-top"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                        alt="Card image cap">
                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                      <img class="card-img-top"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                        alt="Card image cap">
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">

                <div class="row">
                  <div class="col-md-4">
                    <div class="card mb-2">
                      <img class="card-img-top"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                        alt="Card image cap">
                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                      <img class="card-img-top"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                        alt="Card image cap">
                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                      <img class="card-img-top"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                        alt="Card image cap">
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="our-partner">
      <div class="container text-center">
        <div>
          <h5 style="color: rgb(0, 174, 255);">Đối tác của chúng tôi</h5>
        </div>
        <div class="row justify-content-center mt-4">
          <div class="col-xs-12 col-sm-2 col-lg-2"><img class="partner-img-1" src="./images/images.png" alt=""></div>
          <div class="col-xs-12 col-sm-2 col-lg-2"><img class="partner-img-1" src="./images/images.png" alt=""></div>
          <div class="col-xs-12 col-sm-2 col-lg-2"><img class="partner-img-1" src="./images/images.png" alt=""></div>
          <div class="col-xs-12 col-sm-2 col-lg-2"><img class="partner-img-1" src="./images/images.png" alt=""></div>
          <div class="col-xs-12 col-sm-2 col-lg-2"><img class="partner-img-1" src="./images/images.png" alt=""></div>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="col-xs-12 col-sm-2 col-lg-2 partner-pa"><img class="partner-img-2" src="./images/images.png"
              alt="">
          </div>
          <div class="col-xs-12 col-sm-2 col-lg-2 partner-pa"><img class="partner-img-2" src="./images/images.png"
              alt="">
          </div>
          <div class="col-xs-12 col-sm-2 col-lg-2 partner-pa"><img class="partner-img-2" src="./images/images.png"
              alt="">
          </div>
          <div class="col-xs-12 col-sm-2 col-lg-2 partner-pa"><img class="partner-img-2" src="./images/images.png"
              alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6 col-lg-6 block-image">
                  <img src="./images/banner2.png" class="img-responsive" alt="" width="100%" height="100%">
                </div>
                <div class="col-md-6 col-lg-6 block-contact">
                  <form style="padding: 10px 40px 100px 25px;">
                    <div class="mb-3">
                      <a href="#"><img src="../image/iconhome.png" alt="" width="50%"></a>
                    </div>
                    <div>
                      <h3 style="font-weight: 400;">Chào mừng đến với Vitrip.me</h3>
                      <p style="font-size: 13px;">Vui lòng điền thông tin đăng nhập</p>
                    </div>
                    <div class="mt-5 mb-4">
                      <input type="text" class="form-control form-login" id="recipient-name"
                        placeholder="Tên đăng nhập hoặc Email">
                    </div>
                    <div>
                      <input type="text" class="form-control form-login" id="recipient-name" placeholder="Mật khẩu">
                    </div>
                    <div class="row mt-5">
                      <div class="col-md-6">
                        <div class="form-check text-start">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                          <label class="form-check-label" for="flexCheckChecked">
                            Lưu lại
                          </label>
                        </div>
                      </div>
                      <div class="col-md-6 text-end">
                        <button class="btn-dang-nhap">Đăng nhập</button>
                      </div>
                    </div>
                  </form>
                  <div style="font-size: 15px; color: #525252;">
                    <span>Đổi mật khẩu</span> | <span>Lấy lại mật khẩu</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Footer -->
  <footer class="text-center text-lg-start text-white footer" style="margin-top: 0px;">
    <section class="container d-flex justify-content-center justify-content-lg-between pt-5">
      <div class="me-5 d-none d-lg-block">
        <a href=""><img src="./image/logofooter.png" alt=""></a>
      </div>
    </section>
    <section class="footer_mobiedu">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="fw-bold mb-3">
              Công Ty Cổ Phần Dịch Vụ Truyền Thông & Du Lịch VITRIP
            </h6>
            <nav class="nav flex-column">
              <div class="d-flex info_footer ">
                <img src="../image/maps-and-flags.png" alt=".." width="30px" height="30px">
                <p>B43 Lô 6, khu đô thị mới Định Công, Phường Định Công, Quận Hoàng Mai, Thành phố Hà
                  Nội, Việt Nam</p>
              </div>
              <div class="d-flex info_footer">
                <img src="../image/licensing.png" alt="..." width="30px" height="30px">
                <p>Giấy phép ĐKKD <br>
                  Giấy phép Dịch Vụ Lữ Hành Quốc Tế
                </p>
              </div>
              <div class="d-flex info_footer">
                <img src="../image/phone.png" alt="..." width="30px" height="30px">
                <p>123456789</p>
              </div>
              <div class="d-flex info_footer">
                <img src="../image/emailfooter.png" alt=".." width="30px" height="30px">
                <p>info@vitrip.me</p>
              </div>
            </nav>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="fw-bold mb-5">
              Dành cho khách hàng
            </h6>
            <p>
              <a href="#" class="text-reset text-decoration-none">Hướng dẫn mua hàng</a>
            </p>
            <p>
              <a href="#" class="text-reset text-decoration-none">Hướng dẫn thanh toán</a>
            </p>
            <p>
              <a href="#" class="text-reset text-decoration-none">Chuẩn bị trước chuyến đi</a>
            </p>
            <p>
              <a href="#" class="text-reset text-decoration-none">Chính sách và điều khoản chung</a>
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="fw-bold mb-5 text-center">
              Kết nối với chúng tôi
            </h6>
            <div class="text-center contact_img">
              <img src="../image/facebook.png" alt="..." width="32px">
              <img src="../image/youtube.png" alt="..." width="32px">
            </div>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="fw-bold mb-4 text-center">
              Đăng ký nhận ưu đãi từ Vitrip.me
            </h6>
            <p class="text-center"> Nhập ưu đãi của bạn, để nhận nhiều ưu đãi, và các chương trình mới từ
              chúng tôi</p>
            
        </div>
      </div>
      </div>
    </section>
    <div class="text-white text-center text-lg-start">
      <div class="container p-4 border-top">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <ul class="list-unstyled d-flex">
              <li>
                <a href="#!" class="text-white text-decoration-none me-3">© 2021 Vitrip.me</a>
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none me-3">Quyền riêng tư</a>
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none me-3">Điều khoản</a>
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none">Sơ đồ trang web</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
            <div class="text-end">
              <img src="./image/around-the-world.png" alt="" width="24px" height="24px">
              <a href="#!" class="text-white ms-2">Tiếng Việt(VN)</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
  integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="vendor/slick-1.8.1/slick/slick.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

<script>

  $('.c-tutorial').slick({
    centerMode: true,
    centerPadding: '90px',
    slidesToShow: 3,
    prevArrow: false,
    nextArrow: false,
    dots: true,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          arrows: false,
          centerMode: true,
          centerPadding: '40px',
          slidesToShow: 3
        }
      },
      {
        breakpoint: 480,
        settings: {
          arrows: false,
          centerMode: true,
          centerPadding: '40px',
          slidesToShow: 1
        }
      }
    ]
  });

  $('.danh-gia').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2000,
    prevArrow: false,
    nextArrow: false,
  });
</script>

</html>
