@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<section class="header">
    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light px-4">
        <a class="navbar-brand" href="/"><img src="~/images/dong-tay-bac/Logo.svg" alt=""></a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item px-2">
                    <a class="nav-link" href="about-us.html">Về Vitrip.Me <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown px-2">
                    <a class="nav-link dropdown-toggle" href="du-lich-viet-nam.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tour ngắn ngày - cuối tuần
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/du-lich-vietnam/dong-tay-bac">Miền Bắc</a>
                        <a class="dropdown-item" href="/du-lich-vietnam/bien-dao">Miền Trung</a>
                        <a class="dropdown-item" href="/du-lich-vietnam/tay-nguyen">Miền Nam</a>
                    </div>
                </li>
                <li class="nav-item  px-2">
                    <a class="nav-link" href="mice-tour.html">MICE Tour</a>
                </li>
                <li class="nav-item  px-2">
                    <a class="nav-link" href="team-building.html">Team Building</a>
                </li>
                <li class="nav-item  px-2">
                    <a class="nav-link" href="tell-your-stories.html">Tell your stories</a>
                </li>
            </ul>
            <div>
                <img src="~/images/dong-tay-bac/Language.svg" alt="">
                <div class="btn-login">
                    <a href=""><img src="~/images/home/line.png" alt=""></a>
                    <a href="" type="button" data-toggle="modal" data-target=".bd-example-modal-lg"><img src="~/images/home/account-circle.png" alt=""></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="modal fade bd-example-modal-lg index-login-modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="row bg-white">
                    <div class="col-md pl-0 pr-0">
                        <img src="~/images/home/login-img.jpg" alt="" class="w-full">
                    </div>
                    <div class="col-md p-4">
                        <div class="text-center">
                            <img src="~/images/dong-tay-bac/Logo.svg" alt="">
                            <h4 class="my-4">Chào mừng đến với Vitrip.me</h4>
                            <p>Vui lòng điền thông tin đăng nhập</p>
                        </div>
                        <form action="" class="my-5">
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tên đăng nhập hoặc email" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mật khẩu" required>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Lưu lại</label>
                                </div>
                                <button type="submit" class="btn btn-primary bg-blue-800">Đăng nhập</button>
                            </div>
                        </form>
                        <div class="text-center">
                            <a href="#">Đổi mật khẩu |</a>
                            <a href="#">Lấy lại mật khẩu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./src/offcanvas.js"></script>

    @RenderSection("Banner", false)
</section>
<!-- end header -->

@RenderBody()

@await RenderSectionAsync("Scripts", required: false)