<section class="banner">
    <img src="img/banner/denniz.png" alt="" />
    <h4 class="text-center">khởi tạo tour du lịch cho bạn</h4>
</section>

<section class="about-container">
    <div class="container">
        <div class="link-item">
            <a href="/">Trang chủ</a> <i class='fa fa-angle-right'></i>
            <a href="">Tạo Tour Du Lịch</a>
        </div>

        <div class="contact-container">
            <div class="row mr-05">
                <div class="col-md-6 pd-5">
                    <div class="contact-wrap">
                        <form action="">
                            <div class="note-form">
                                <label for="destination" class="font-20 text-uppercase font-weight-bold">LOẠI THÔNG TIN</label>
                                <select class="form-control border-orange" id="typeId" name="typeId" required>
                                    <option value="" hidden>Chọn loại thông tin</option>
                                    <option value="1">Tour trong nước và quốc tế</option>
                                    <option value="2">MICE Tour, Team Building, Event</option>
                                    <option value="3">Phòng khách sạn, vé máy bay</option>
                                    <option value="4">Thuê xe di chuyển, công tác trong và ngoài nước</option>
                                    <option value="5">Hướng dẫn viên, phiên dịch viên</option>
                                </select>
                            </div>
                            <div class="note-form">
                                <h5 class="pb-2">Bạn đi từ đâu</h5>
                                <input type="text" placeholder="Hà Nội" />
                            </div>
                            <div class="note-form">
                                <h5 class="pb-2">Địa điểm mong muốn</h5>
                                <select name="age" id="age">
                                    <option value="1">Hà Nội</option>
                                    <option value="2">Hà Giang</option>
                                    <option value="3">Vĩnh Phúc</option>
                                </select>
                            </div>
                            <div class="note-form">
                                <h5 class="pb-2">Thành viên tham gia</h5>
                                <div class="form-member">
                                    <div class="member-age">
                                        <span>Người lớn</span>
                                        <span>trên 12 tuổi</span>
                                    </div>
                                    <div class="buyBlock">
                                        <span id="priceATC" class="quantity-up-down">
                                            <span class="icon-minus-squared off">&ndash;</span>
                                            <input name="Quantity" type="number" value="1" id="Quantity"
                                                class="qty-field" min="1" max="12" />
                                            <span class="icon-plus-squared">+</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-member">
                                    <div class="member-age">
                                        <span>Trẻ em</span>
                                        <span>từ 2 đến 12 tuổi</span>
                                    </div>
                                    <div class="buyBlock">
                                        <span id="priceATC" class="quantity-up-down">
                                            <span class="icon-minus-squared off">&ndash;</span>
                                            <input name="Quantity" type="number" value="1" id="Quantity"
                                                class="qty-field" min="1" max="12" />
                                            <span class="icon-plus-squared">+</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-member">
                                    <div class="member-age">
                                        <span>Trẻ nhỏ</span>
                                        <span>dưới 2 tuổi</span>
                                    </div>
                                    <div class="buyBlock">
                                        <span id="priceATC" class="quantity-up-down">
                                            <span class="icon-minus-squared off">&ndash;</span>
                                            <input name="Quantity" type="number" value="1" id="Quantity"
                                                class="qty-field" min="1" max="12" />
                                            <span class="icon-plus-squared">+</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="note-form">
                                <h5>Thời gian</h5>
                                <label for="text">Ngày khởi hành</label>
                                <input
                                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md"
                                    type="date" name="bday" required pattern="\d{2}-\d{2}-\d{4}"
                                    placeholder="dd-mm-yyyy" />
                            </div>

                            <div class="note-form">
                                <label for="text">Số ngày đi</label>
                                <div class="range-wrap">
                                    <input type="range" class="range" min="1" max="20" />
                                    <output class="bubble"></output>
                                </div>
                            </div>
                            <div class="note-form">
                                <h5 class="pb-2">Dự trù kinh phí</h5>
                                <select name="age" id="age">
                                    <option value="1">2.000.000 - 5.000.0000</option>
                                    <option value="2">5.000.000 - 8.000.0000</option>
                                    <option value="3">8.000.000 - 12.000.0000</option>
                                </select>
                            </div>
                            <div class="note-form">
                                <h5 class="pb-2">cơ sở lưu trú</h5>
                                <div class="wrap-start">
                                    <div class="common text-center">
                                        <p>Phổ thông</p>
                                        <div class="rate-star">
                                            <input type="radio" class="mr-radio" name="radio" value="1">
                                            <span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="common text-center">
                                        <p>Tiêu chuẩn</p>
                                        <div class="rate-star">
                                            <input type="radio" class="mr-radio" name="radio" value="2">
                                            <span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="common text-center">
                                        <p>Cao Cấp</p>
                                        <div class="rate-star">
                                            <input type="radio" class="mr-radio" name="radio" value="3">
                                            <span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-6 pd-5">
                    <div class="contact-wrap">
                        <form action="">
                            <h5>THÔNG TIN LIÊN HỆ</h5>
                            <div class="note-form">
                                <label for="name">Họ tên</label>
                                <input type="text" placeholder="Họ tên" />
                            </div>
                            <div class="note-form">
                                <label for="email">Email</label>
                                <input type="email" placeholder="Email" />
                            </div>
                            <div class="note-form">
                                <label for="name">Số điện thoại</label>
                                <input type="text" placeholder="Số điện thoại" />
                            </div>
                            <div class="note-form">
                                <label for="name">Độ tuổi của bạn</label>
                                <select name="age" id="age">
                                    <option value="1">1989</option>
                                    <option value="2">1990</option>
                                    <option value="3">1991</option>
                                    <option value="4">1992</option>
                                </select>
                            </div>
                            <div class="note-form">
                                <label for="name">Yêu cầu khác</label>
                                <textarea placeholder="Ghi chú thêm" class="box" cols="30" rows="10"></textarea>
                            </div>
                            <div class="form-group check-tour pt-5">
                                <input type="checkbox" class="checkbox-round" id="yepp-1" />
                                <label class="checktour-label" for="yepp-1">Tôi đồng ý nhận tư vấn của chuyên gia qua
                                    Email</label>
                            </div>
                            <div class="form-group check-tour">
                                <input type="checkbox" class="checkbox-round" id="yepp-2" />
                                <label class="checktour-label" for="yepp-2">Tôi đồng ý nhận thông tin về Tour Du Lịch
                                    qua Email
                                    hàng tháng</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="button-sendinfor text-center pt-5">
                <button type="button" class="btn-sendinfor">Gửi thông tin</button>
            </div>
        </div>
    </div>
</section>

@section Scripts {
<script>
    const allRanges = document.querySelectorAll(".range-wrap");
    allRanges.forEach((wrap) => {
        const range = wrap.querySelector(".range");
        const bubble = wrap.querySelector(".bubble");

        range.addEventListener("input", () => {
            setBubble(range, bubble);
        });
        setBubble(range, bubble);
    });

    function setBubble(range, bubble) {
        const val = range.value;
        const min = range.min ? range.min : 0;
        const max = range.max ? range.max : 100;
        const newVal = Number(((val - min) * 100) / (max - min));
        bubble.innerHTML = val;

        // Sorta magic numbers based on size of the native UI thumb
        bubble.style.left = `calc(${newVal}% + (${8 - newVal * 0.15}px))`;
    }
</script>
}