<section class="banner">
	<img src="img/banner/denniz.png" alt="" />
	<h4 class="text-center">liên hệ với chúng tôi</h4>
</section>

<section class="about-container">
	<div class="container">
		<div class="link-item">
			<a href="/">Trang chủ</a><i class='fa fa-angle-right'></i>
			<a href="">Liên hệ</a>
		</div>
		<div class="page-title">
			<h4>liên hệ với chúng tôi</h4>
		</div>
		<div class="contact-container">
			<div class="row">
				<div class="col-md-5">
					<div class="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14901.142309808585!2d105.81816603735686!3d20.981186661446333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac605e81e0f1%3A0x3743d485fe1154c1!2zQ8O0bmcgVHkgQ-G7lSBQaOG6p24gROG7i2NoIFbhu6UgVHJ1eeG7gW4gVGjDtG5nIFbDoCBEdSBM4buLY2ggVml0cmlw!5e0!3m2!1svi!2s!4v1646535959441!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					</div>
				</div>
				<div class="col-md-7">
					<div class="contact-wrap">
						<form action="">
							<h5>THÔNG TIN LIÊN HỆ</h5>
							<div class="note-form">
								<label for="name">Họ tên</label>
								<input type="text" placeholder="Họ tên" />
							</div>
							<div class="note-form">
								<label for="email">Email</label>
								<input type="email" placeholder="Email" />
							</div>
							<div class="note-form">
								<label for="name">Số điện thoại</label>
								<input type="text" placeholder="Số điện thoại" />
							</div>
							<div class="note-form">
								<label for="name">Độ tuổi của bạn</label>
								<select name="age" id="age">
									<option value="1">1989</option>
									<option value="2">1990</option>
									<option value="3">1991</option>
									<option value="4">1992</option>
								</select>
							</div>
							<div class="note-form">
								<label for="name">Ghi chú</label>
								<textarea placeholder="Ghi chú thêm" class="box" cols="30" rows="10"></textarea>
							</div>
							<div class="form-group check-tour pt-5">
								<input type="checkbox" class="checkbox-round" id="yepp-1" />
								<label class="checktour-label" for="yepp-1">Tôi đồng ý nhận tư vấn của chuyên gia qua
									Email</label>
							</div>
							<div class="form-group check-tour">
								<input type="checkbox" class="checkbox-round" id="yepp-2" />
								<label class="checktour-label" for="yepp-2">Tôi đồng ý nhận thông tin về Tour Du Lịch
									qua Email
									hàng tháng</label>
							</div>
							<div class="button-sendinfor text-center pt-5">
								<button type="button" class="btn-sendinfor">Gửi thông tin</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>