@{
    ViewData["Title"] = "Về ViTripMe";
}

@section Banner
{
    <div class="banner-about-us d-flex align-items-center">
        <div class="container">
            <h2 class="text-white d-flex justify-content-center font-weight-bold text-center font-40 text-uppercase pb-4">Về Vitrip.me</h2>
        </div>
    </div>
}

<main class="container py-5">
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb bg-light pl-0 mb-0">
            <li class="breadcrumb-item"><a href="/">Trang chủ </a></li>
            <li class="breadcrumb-item active" aria-current="page">Về Vitrip.me</li>
        </ol>
    </nav>
    <section class="thu-ngo">
        <div class="row">
            <div class="col-md-7">
                <p>Kính thưa Quý Khách hàng,</p>
                <p>Công ty Cổ Phần Dịch Vụ Truyền Thông và Du Lịch VITRIP xin gửi tới Quý Khách hàng lời chào trân trọng nhất. Kính chúc Quý Khách và Gia Đình thật nhiều sức khỏe, thành công và hạnh phúc.</p>
                <p>Ban Hội Đồng Quản Trị Công ty VITRIP được thành lập với những thành viên có bề dầy hoạt động trong lĩnh vực du lịch – lữ hành trong nước cũng như quốc tế. Luôn sát cánh cùng mọi nhu cầu của khách hàng. Công ty chúng tôi cam kết đáp ứng tốt nhất những dịch vụ mà Quý Khách hàng yêu cầu, đặc biệt giá cả hợp lý và có tính cạnh tranh cao trên thị trường. Các sản phẩm dịch vụ của công ty bao gồm:</p>
                <p>
                    Cung cấp các tour du lịch trong nước và ngoài nước. <br>
                    Dịch vụ tư vấn, đặt vé máy bay, khách sạn, xe vận chuyển toàn quốc. <br>
                    Tư vấn, tổ chức các hoạt động, sự kiện trong và ngoài trời: tiệc sinh nhật, lễ kỷ niệm, team building, gala dinner… <br>
                    Quý Khách hàng quan tâm tới dịch vụ của công ty hoặc muốn biết thêm chi tiết xin vui lòng liên hệ trực tiếp phòng kinh doanh qua hotline: +84 97 302 5588 hoặc email: info@vitrip.me
                </p>
                <p>Chân thành cảm ơn Quý Khách hàng!</p>
                <p>Trân trọng,</p>
                <p>Giám Đốc</p>
                <img src="./images/about-us/sign.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-5"></div>
        </div>
    </section>
    <section class="about-us-testimonial py-5 text-center">
        <div class="row">
            <div class="col-md-3 text-right"><img src="./images/about-us/testimonial1.svg" alt=""></div>
            <div class="col-md-6">
                <p>
                    Được thành lập và vận hành bởi những người trẻ, năng động, luôn tìm tòi những xu hướng du lịch mới và không ngừng nâng cao chất lượng dịch vụ nhằm mang lại cho khách hàng sự hài lòng và những trải nghiệm lý thú trong mỗi chuyến đi. "Tiên Phong" là kim chỉ nam cho mọi hoạt động của Vitrip.me. Đó cũng là lý do vì sao Vitrip chọn hình chim hạc làm logo để biểu trưng cho tính cách của mình. Chúng tôi luôn tìm tòi những địa điểm du lịch hoàn toàn mới mẻ; cũng như xây dựng các dịch vụ giá trị gia tăng độc đáo, hấp dẫn.
                </p>
            </div>
            <div class="col-md-3 text-left d-flex flex-wrap align-items-end"><img src="./images/about-us/testimonial2.svg" alt=""></div>
        </div>
    </section>

    <section>
        <div class="row">

            <div class="col-md-3 su-menh">
                <div class="card text-white">
                    <img class="card-img" src="./images/about-us/su-menh.jpg" alt="Card image">
                    <div class="card-img-overlay text-center">
                        <h4 class="card-title mb-0 text-uppercase py-2">sứ mệnh</h4>
                        <p>Đưa hình ảnh đất nước Việt Nam xinh đẹp, con người thân thiện, truyền thống đặc sắc đến với thế giới</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-white">
                    <img class="card-img" src="./images/about-us/triet-ly-hoat-dong.jpg" alt="Card image">
                    <div class="card-img-overlay text-center align-items-start">
                        <h4 class="card-title mb-0 text-uppercase py-2">triết lý hoạt động</h4>
                        <div class="row">
                            <div class="col">
                                <img src="./images/about-us/customer-icon.svg" alt="" class="pt-2 pb-4">
                                <h6 class="mb-0 text-uppercase font-14 font-weight-bold">với khách hàng</h6>
                                <p>Chuyên nghiệp, hiệu quả</p>
                            </div>
                            <div class="col">
                                <img src="./images/about-us/internal.svg" alt="" class="pt-2 pb-4">
                                <h6 class="mb-0 text-uppercase font-14 font-weight-bold">với nội bộ</h6>
                                <p>Trung thực, bền vững</p>
                            </div>
                            <div class="col">
                                <img src="./images/about-us/partner.svg" alt="" class="pt-2 pb-4">
                                <h6 class="mb-0 text-uppercase font-14 font-weight-bold">với đối tác</h6>
                                <p>Hợp tác, uy tín</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white">
                    <img class="card-img h-full w-full" src="./images/about-us/tam-nhin.jpg" alt="Card image">
                    <div class="card-img-overlay text-center align-items-start">
                        <h4 class="card-title mb-0 text-uppercase py-2">Tầm nhìn</h4>
                        <p>Là lựa chọn tin cậy hàng đầu của du khách với sản phẩm phong phú, chất lượng đảm bảo, chi phí hợp lý</p>
                    </div>
                </div>
            </div>
        </div>
    </section>    
</main>