@{
    ViewData["Title"] = "Bản quyền hình ảnh";
}

@section Banner
{
    <div class="banner-lien-he d-flex align-items-center">
        <div class="container">
            <h2 class="text-white d-flex justify-content-center font-weight-bold text-center font-40 text-uppercase pb-4">Bản quyền hình ảnh</h2>
        </div>
    </div>
}

<main class="container py-5">
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb bg-light pl-0 mb-0">
            <li class="breadcrumb-item"><a href="/">Trang chủ </a></li>
            <li class="breadcrumb-item active" aria-current="page">Bản quyền hình ảnh</li>
        </ol>
    </nav>
    <section class="contact-content">
        <h6 style="font-weight: bold;">Tôn trọng bản quyền hình ảnh.</h6>
        <p>
            Quan điểm của Vitrip.Me là luôn tôn trọng quyền sở hữu trí tuệ về tác phẩm nhiếp ảnh, ảnh chụp, video của các cá nhân và tổ chức.
        </p>
        <h6 style="font-weight: bold;">Về việc sử dụng hình ảnh trên website</h6>
        <p>
            Với việc giúp bài viết sống động và hấp dẫn hơn đối với khán giả, Vitrip.Me có sử dụng ảnh, clip có ghi rõ nguồn của các tác giả nhằm minh họa cho các bài viết chia sẻ kinh nghiệm du lịch, giới thiệu các điểm đến, phong cảnh thiên nhiên đất nước, con người Việt Nam
            <br><br>
            Chúng tôi luôn cố gắng nỗ lực liên hệ với tất cả các tác giả có ảnh được sử dụng để xin sự cho phép sử dụng ảnh, clip. Nếu có sự sơ xuất hay thiếu sót nào, chúng tôi xin được gửi lời xin lỗi, rất mong nhận được sự thông cảm, lượng thứ từ các tác giả, chủ sở hữu hình ảnh, clip
            <br><br>
            <span style="font-style: italic;">Các anh/chị cũng vui lòng gửi lại phản hồi cho Vitrip.me tới email <a href="email:info@vitrip.me">info@vitrip.me</a> nếu:</span>
            <ul>
                <li>Không đồng ý cho Vitrip.Me sử dụng hình ảnh và yêu cầu gỡ bỏ khỏi website.</li>
                <li>Yêu cầu đặt link kèm với tên tác giả.</li>
                <li>Các yêu cầu khác.</li>
            </ul>
        </p>
        <h6 style="font-weight: bold;">Hợp tác sử dụng hình ảnh, clip, tài liệu</h6>
        <p>
            Chúng tôi đã, đang và luôn mong muốn mở rộng hợp tác với các bạn nhiếp ảnh gia, thợ chụp ảnh, chuyên gia sáng tạo nội dung, blogger du lịch với cùng chung niềm đam mê, yêu thích với thiên nhiên, con người và du lịch Việt Nam. Chúng tôi rất vui nếu nhận được đề nghị hợp tác từ phía các anh/chị tới địa chỉ <a href="email:info@vitrip.me">info@vitrip.me</a>.
        </p>
        <p>
            Vitrip.Me trân trọng cám ơn.
        </p>
    </section>
</main>