@{
    ViewData["Title"] = "MICE Tour";
}

@section Banner
{
    <div class="banner-mice-tour d-flex align-items-center">
        <div class="container">
            <h2 class="text-white d-flex justify-content-center font-weight-bold text-center font-40 text-uppercase pb-4">mice tour</h2>
        </div>
    </div>
}

<main class="container py-5">
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb bg-light pl-0 mb-0">
            <li class="breadcrumb-item"><a href="/">Trang chủ </a></li>
            <li class="breadcrumb-item active" aria-current="page">MICE Tour</li>
        </ol>
    </nav>
    <section>
        <div class="d-flex justify-content-between align-items-center py-2 tour-title">
            <h4 class="text-uppercase font-weight-bold mb-0">Miền Bắc</h4>
        </div>
        <div class="tour-content">
            <div class="row pt-4">
                <div class="col-sm">
                    <a href="tour-da-lat.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn/da-lat.jpg" alt="Card image">
                            <div style="background-color: #1F1D1E; color: white; height: 30px; width: 25%; position: absolute; bottom: 35%; font-size: 14px; padding: 5px 0px 0px 5px; opacity: 0.9;">
                                Từ Hà Nội
                            </div>
                            <div style="background-color: white; height: 35%; width: 100%; position: absolute; bottom: 0px; border-radius: 0 0 0.25rem 0.25rem; padding: 10px 5px 0px 5px;">
                                <p style="font-size: 15px; color: #004865; margin-bottom: 0px; font-weight: 700;">Tour Hà Nội - Quảng Bình 3 ngày 3 đêm:</p>
                                <p style="font-size: 15px; color: #004865; margin-bottom: 10px; font-weight: 700;">Khám phá dải đất miền Trung xinh đẹp</p>
                                <span style="color: black; font-size: 13px;"><i class="fa fa-calendar" aria-hidden="true"></i> Thứ 5 hàng tuần</span>
                                <br />
                                <span style="color: black; font-size: 13px;"><i class="fa fa-bath" aria-hidden="true"></i> 3 ngày 3 đêm</span>
                                <br />
                                <span style="color: #FF9365; padding-left: 15px;">3,880,000 VNĐ/khách</span>
                                <div style="position: absolute; right: 10px; bottom: 30px; font-size: 12px;">
                                    <a href="xxx.html"><button class="btn btn-light border border-info view-all" style="font-size: 12px; font-weight: 700; color: #004865;">GỬI YÊU CẦU TƯ VẤN</button></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm">
                    <a href="tour-da-lat.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn/da-lat.jpg" alt="Card image">
                            <div style="background-color: #1F1D1E; color: white; height: 30px; width: 25%; position: absolute; bottom: 35%; font-size: 14px; padding: 5px 0px 0px 5px; opacity: 0.9;">
                                Từ Hà Nội
                            </div>
                            <div style="background-color: white; height: 35%; width: 100%; position: absolute; bottom: 0px; border-radius: 0 0 0.25rem 0.25rem; padding: 10px 5px 0px 5px;">
                                <p style="font-size: 15px; color: #004865; margin-bottom: 0px; font-weight: 700;">Tour Hà Nội - Quảng Bình 3 ngày 3 đêm:</p>
                                <p style="font-size: 15px; color: #004865; margin-bottom: 10px; font-weight: 700;">Khám phá dải đất miền Trung xinh đẹp</p>
                                <span style="color: black; font-size: 13px;"><i class="fa fa-calendar" aria-hidden="true"></i> Thứ 5 hàng tuần</span>
                                <br />
                                <span style="color: black; font-size: 13px;"><i class="fa fa-bath" aria-hidden="true"></i> 3 ngày 3 đêm</span>
                                <br />
                                <span style="color: #FF9365; padding-left: 15px;">3,880,000 VNĐ/khách</span>
                                <div style="position: absolute; right: 10px; bottom: 30px; font-size: 12px;">
                                    <a href="xxx.html"><button class="btn btn-light border border-info view-all" style="font-size: 12px; font-weight: 700; color: #004865;">GỬI YÊU CẦU TƯ VẤN</button></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm">
                    <a href="tour-da-lat.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn/da-lat.jpg" alt="Card image">
                            <div style="background-color: #1F1D1E; color: white; height: 30px; width: 25%; position: absolute; bottom: 35%; font-size: 14px; padding: 5px 0px 0px 5px; opacity: 0.9;">
                                Từ Hà Nội
                            </div>
                            <div style="background-color: white; height: 35%; width: 100%; position: absolute; bottom: 0px; border-radius: 0 0 0.25rem 0.25rem; padding: 10px 5px 0px 5px;">
                                <p style="font-size: 15px; color: #004865; margin-bottom: 0px; font-weight: 700;">Tour Hà Nội - Quảng Bình 3 ngày 3 đêm:</p>
                                <p style="font-size: 15px; color: #004865; margin-bottom: 10px; font-weight: 700;">Khám phá dải đất miền Trung xinh đẹp</p>
                                <span style="color: black; font-size: 13px;"><i class="fa fa-calendar" aria-hidden="true"></i> Thứ 5 hàng tuần</span>
                                <br />
                                <span style="color: black; font-size: 13px;"><i class="fa fa-bath" aria-hidden="true"></i> 3 ngày 3 đêm</span>
                                <br />
                                <span style="color: #FF9365; padding-left: 15px;">3,880,000 VNĐ/khách</span>
                                <div style="position: absolute; right: 10px; bottom: 30px; font-size: 12px;">
                                    <a href="xxx.html"><button class="btn btn-light border border-info view-all" style="font-size: 12px; font-weight: 700; color: #004865;">GỬI YÊU CẦU TƯ VẤN</button></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Miền Bắc -->
    <br />
    <section>
        <div class="d-flex justify-content-between align-items-center py-2 tour-title">
            <h4 class="text-uppercase font-weight-bold mb-0">Miền Trung</h4>
        </div>
        <div class="tour-content">
            <div class="row pt-4">
                <div class="col-sm">
                    <a href="tour-da-lat.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn/da-lat.jpg" alt="Card image">
                            <div style="background-color: #1F1D1E; color: white; height: 30px; width: 25%; position: absolute; bottom: 35%; font-size: 14px; padding: 5px 0px 0px 5px; opacity: 0.9;">
                                Từ Hà Nội
                            </div>
                            <div style="background-color: white; height: 35%; width: 100%; position: absolute; bottom: 0px; border-radius: 0 0 0.25rem 0.25rem; padding: 10px 5px 0px 5px;">
                                <p style="font-size: 15px; color: #004865; margin-bottom: 0px; font-weight: 700;">Tour Hà Nội - Quảng Bình 3 ngày 3 đêm:</p>
                                <p style="font-size: 15px; color: #004865; margin-bottom: 10px; font-weight: 700;">Khám phá dải đất miền Trung xinh đẹp</p>
                                <span style="color: black; font-size: 13px;"><i class="fa fa-calendar" aria-hidden="true"></i> Thứ 5 hàng tuần</span>
                                <br />
                                <span style="color: black; font-size: 13px;"><i class="fa fa-bath" aria-hidden="true"></i> 3 ngày 3 đêm</span>
                                <br />
                                <span style="color: #FF9365; padding-left: 15px;">3,880,000 VNĐ/khách</span>
                                <div style="position: absolute; right: 10px; bottom: 30px; font-size: 12px;">
                                    <a href="xxx.html"><button class="btn btn-light border border-info view-all" style="font-size: 12px; font-weight: 700; color: #004865;">GỬI YÊU CẦU TƯ VẤN</button></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm">
                    <a href="tour-da-lat.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn/da-lat.jpg" alt="Card image">
                            <div style="background-color: #1F1D1E; color: white; height: 30px; width: 25%; position: absolute; bottom: 35%; font-size: 14px; padding: 5px 0px 0px 5px; opacity: 0.9;">
                                Từ Hà Nội
                            </div>
                            <div style="background-color: white; height: 35%; width: 100%; position: absolute; bottom: 0px; border-radius: 0 0 0.25rem 0.25rem; padding: 10px 5px 0px 5px;">
                                <p style="font-size: 15px; color: #004865; margin-bottom: 0px; font-weight: 700;">Tour Hà Nội - Quảng Bình 3 ngày 3 đêm:</p>
                                <p style="font-size: 15px; color: #004865; margin-bottom: 10px; font-weight: 700;">Khám phá dải đất miền Trung xinh đẹp</p>
                                <span style="color: black; font-size: 13px;"><i class="fa fa-calendar" aria-hidden="true"></i> Thứ 5 hàng tuần</span>
                                <br />
                                <span style="color: black; font-size: 13px;"><i class="fa fa-bath" aria-hidden="true"></i> 3 ngày 3 đêm</span>
                                <br />
                                <span style="color: #FF9365; padding-left: 15px;">3,880,000 VNĐ/khách</span>
                                <div style="position: absolute; right: 10px; bottom: 30px; font-size: 12px;">
                                    <a href="xxx.html"><button class="btn btn-light border border-info view-all" style="font-size: 12px; font-weight: 700; color: #004865;">GỬI YÊU CẦU TƯ VẤN</button></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm">
                    <a href="tour-da-lat.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn/da-lat.jpg" alt="Card image">
                            <div style="background-color: #1F1D1E; color: white; height: 30px; width: 25%; position: absolute; bottom: 35%; font-size: 14px; padding: 5px 0px 0px 5px; opacity: 0.9;">
                                Từ Hà Nội
                            </div>
                            <div style="background-color: white; height: 35%; width: 100%; position: absolute; bottom: 0px; border-radius: 0 0 0.25rem 0.25rem; padding: 10px 5px 0px 5px;">
                                <p style="font-size: 15px; color: #004865; margin-bottom: 0px; font-weight: 700;">Tour Hà Nội - Quảng Bình 3 ngày 3 đêm:</p>
                                <p style="font-size: 15px; color: #004865; margin-bottom: 10px; font-weight: 700;">Khám phá dải đất miền Trung xinh đẹp</p>
                                <span style="color: black; font-size: 13px;"><i class="fa fa-calendar" aria-hidden="true"></i> Thứ 5 hàng tuần</span>
                                <br />
                                <span style="color: black; font-size: 13px;"><i class="fa fa-bath" aria-hidden="true"></i> 3 ngày 3 đêm</span>
                                <br />
                                <span style="color: #FF9365; padding-left: 15px;">3,880,000 VNĐ/khách</span>
                                <div style="position: absolute; right: 10px; bottom: 30px; font-size: 12px;">
                                    <a href="xxx.html"><button class="btn btn-light border border-info view-all" style="font-size: 12px; font-weight: 700; color: #004865;">GỬI YÊU CẦU TƯ VẤN</button></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Miền Trung -->
    <br />
    <section>
        <div class="d-flex justify-content-between align-items-center py-2 tour-title">
            <h4 class="text-uppercase font-weight-bold mb-0">Miền Nam</h4>
        </div>
        <div class="tour-content">
            <div class="row pt-4">
                <div class="col-sm">
                    <a href="tour-da-lat.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn/da-lat.jpg" alt="Card image">
                            <div style="background-color: #1F1D1E; color: white; height: 30px; width: 25%; position: absolute; bottom: 35%; font-size: 14px; padding: 5px 0px 0px 5px; opacity: 0.9;">
                                Từ Hà Nội
                            </div>
                            <div style="background-color: white; height: 35%; width: 100%; position: absolute; bottom: 0px; border-radius: 0 0 0.25rem 0.25rem; padding: 10px 5px 0px 5px;">
                                <p style="font-size: 15px; color: #004865; margin-bottom: 0px; font-weight: 700;">Tour Hà Nội - Quảng Bình 3 ngày 3 đêm:</p>
                                <p style="font-size: 15px; color: #004865; margin-bottom: 10px; font-weight: 700;">Khám phá dải đất miền Trung xinh đẹp</p>
                                <span style="color: black; font-size: 13px;"><i class="fa fa-calendar" aria-hidden="true"></i> Thứ 5 hàng tuần</span>
                                <br />
                                <span style="color: black; font-size: 13px;"><i class="fa fa-bath" aria-hidden="true"></i> 3 ngày 3 đêm</span>
                                <br />
                                <span style="color: #FF9365; padding-left: 15px;">3,880,000 VNĐ/khách</span>
                                <div style="position: absolute; right: 10px; bottom: 30px; font-size: 12px;">
                                    <a href="xxx.html"><button class="btn btn-light border border-info view-all" style="font-size: 12px; font-weight: 700; color: #004865;">GỬI YÊU CẦU TƯ VẤN</button></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm">
                    <a href="tour-da-lat.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn/da-lat.jpg" alt="Card image">
                            <div style="background-color: #1F1D1E; color: white; height: 30px; width: 25%; position: absolute; bottom: 35%; font-size: 14px; padding: 5px 0px 0px 5px; opacity: 0.9;">
                                Từ Hà Nội
                            </div>
                            <div style="background-color: white; height: 35%; width: 100%; position: absolute; bottom: 0px; border-radius: 0 0 0.25rem 0.25rem; padding: 10px 5px 0px 5px;">
                                <p style="font-size: 15px; color: #004865; margin-bottom: 0px; font-weight: 700;">Tour Hà Nội - Quảng Bình 3 ngày 3 đêm:</p>
                                <p style="font-size: 15px; color: #004865; margin-bottom: 10px; font-weight: 700;">Khám phá dải đất miền Trung xinh đẹp</p>
                                <span style="color: black; font-size: 13px;"><i class="fa fa-calendar" aria-hidden="true"></i> Thứ 5 hàng tuần</span>
                                <br />
                                <span style="color: black; font-size: 13px;"><i class="fa fa-bath" aria-hidden="true"></i> 3 ngày 3 đêm</span>
                                <br />
                                <span style="color: #FF9365; padding-left: 15px;">3,880,000 VNĐ/khách</span>
                                <div style="position: absolute; right: 10px; bottom: 30px; font-size: 12px;">
                                    <a href="xxx.html"><button class="btn btn-light border border-info view-all" style="font-size: 12px; font-weight: 700; color: #004865;">GỬI YÊU CẦU TƯ VẤN</button></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm">
                    <a href="tour-da-lat.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn/da-lat.jpg" alt="Card image">
                            <div style="background-color: #1F1D1E; color: white; height: 30px; width: 25%; position: absolute; bottom: 35%; font-size: 14px; padding: 5px 0px 0px 5px; opacity: 0.9;">
                                Từ Hà Nội
                            </div>
                            <div style="background-color: white; height: 35%; width: 100%; position: absolute; bottom: 0px; border-radius: 0 0 0.25rem 0.25rem; padding: 10px 5px 0px 5px;">
                                <p style="font-size: 15px; color: #004865; margin-bottom: 0px; font-weight: 700;">Tour Hà Nội - Quảng Bình 3 ngày 3 đêm:</p>
                                <p style="font-size: 15px; color: #004865; margin-bottom: 10px; font-weight: 700;">Khám phá dải đất miền Trung xinh đẹp</p>
                                <span style="color: black; font-size: 13px;"><i class="fa fa-calendar" aria-hidden="true"></i> Thứ 5 hàng tuần</span>
                                <br />
                                <span style="color: black; font-size: 13px;"><i class="fa fa-bath" aria-hidden="true"></i> 3 ngày 3 đêm</span>
                                <br />
                                <span style="color: #FF9365; padding-left: 15px;">3,880,000 VNĐ/khách</span>
                                <div style="position: absolute; right: 10px; bottom: 30px; font-size: 12px;">
                                    <a href="xxx.html"><button class="btn btn-light border border-info view-all" style="font-size: 12px; font-weight: 700; color: #004865;">GỬI YÊU CẦU TƯ VẤN</button></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Miền Nam -->
    <div class="d-flex justify-content-center my-5">
        <a href="gui-yeu-cau-tu-van.html"><button class="btn btn-light border border-info px-4 view-all">Gửi yêu cầu tư vấn</button></a>
    </div>
    <section class="suggestions">
        <div class="mt-5">
            <h4 class="text-uppercase font-weight-bold mb-0">Có thể bạn quan tâm</h4>
        </div>
        <div class="row">
            <div class="col-sm">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="card text-white">
                                        <img class="card-img" src="./images/tay-nguyen/thac-ban-gioc.jpg" alt="Card image">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title">Cao Bằng – Thác Bản Giốc</h5>
                                            <div><a href=""><button class="btn btn-read-more">Xem thêm</button></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="card text-white">
                                        <img class="card-img" src="./images/tay-nguyen/thac-ban-gioc.jpg" alt="Card image">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title">Cao Bằng – Thác Bản Giốc</h5>
                                            <div><a href=""><button class="btn btn-read-more">Xem thêm</button></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="card text-white">
                                        <img class="card-img" src="./images/tay-nguyen/thac-ban-gioc.jpg" alt="Card image">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title">Cao Bằng – Thác Bản Giốc</h5>
                                            <div><a href=""><button class="btn btn-read-more">Xem thêm</button></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="card text-white">
                                        <img class="card-img" src="./images/tay-nguyen/thac-ban-gioc.jpg" alt="Card image">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title">Cao Bằng – Thác Bản Giốc</h5>
                                            <div><a href=""><button class="btn btn-read-more">Xem thêm</button></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="card text-white">
                                        <img class="card-img" src="./images/tay-nguyen/thac-ban-gioc.jpg" alt="Card image">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title">Cao Bằng – Thác Bản Giốc</h5>
                                            <div><a href=""><button class="btn btn-read-more">Xem thêm</button></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="card text-white">
                                        <img class="card-img" src="./images/tay-nguyen/thac-ban-gioc.jpg" alt="Card image">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title">Cao Bằng – Thác Bản Giốc</h5>
                                            <div><a href=""><button class="btn btn-read-more">Xem thêm</button></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>