@{
    ViewData["Title"] = "MICE Tour";
}

@section Banner
{
    <div class="banner-mice-tour d-flex align-items-center">
        <div class="container">
            <h2 class="text-white d-flex justify-content-center font-weight-bold text-center font-40 text-uppercase pb-4">mice tour</h2>
        </div>
    </div>
}

<main class="container py-5">
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb bg-light pl-0 mb-0">
            <li class="breadcrumb-item"><a href="/">Trang chủ </a></li>
            <li class="breadcrumb-item active" aria-current="page">MICE Tour</li>
        </ol>
    </nav>
    <section>
        <div class="d-flex justify-content-between align-items-center py-2 tour-title">
            <h4 class="text-uppercase font-weight-bold mb-0">Miền Bắc</h4>
        </div>
        <div class="tour-content">
            <div class="row pt-4">
                <div class="col-sm">
                    <a href="tour-ha-long.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn/ha-noi.jpg" alt="Card image">
                            <div class="card-img-overlay" style="text-align: center;">
                                <h5 style="position: absolute; top: 20px; left: 0px; right: 0px;">Hạ Long</h5>
                                <h5 class="card-title mb-0">Giá: 3.500.000</h5>
                                <h5 style="position: absolute; right: 20px; margin-bottom: 0px">2N1Đ</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm">
                    <a href="tour-ha-long.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn/ha-noi.jpg" alt="Card image">
                            <div class="card-img-overlay" style="text-align: center;">
                                <h5 style="position: absolute; top: 20px; left: 0px; right: 0px;">Hạ Long</h5>
                                <h5 class="card-title mb-0">Giá: 3.500.000</h5>
                                <h5 style="position: absolute; right: 20px; margin-bottom: 0px">2N1Đ</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm">
                    <a href="tour-ha-long.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn/ha-noi.jpg" alt="Card image">
                            <div class="card-img-overlay" style="text-align: center;">
                                <h5 style="position: absolute; top: 20px; left: 0px; right: 0px;">Hạ Long</h5>
                                <h5 class="card-title mb-0">Giá: 3.500.000</h5>
                                <h5 style="position: absolute; right: 20px; margin-bottom: 0px">2N1Đ</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm">
                    <a href="tour-ha-long.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn/ha-noi.jpg" alt="Card image">
                            <div class="card-img-overlay" style="text-align: center;">
                                <h5 style="position: absolute; top: 20px; left: 0px; right: 0px;">Hạ Long</h5>
                                <h5 class="card-title mb-0">Giá: 3.500.000</h5>
                                <h5 style="position: absolute; right: 20px; margin-bottom: 0px">2N1Đ</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Miền Bắc -->
    <br />
    <section>
        <div class="d-flex justify-content-between align-items-center py-2 tour-title">
            <h4 class="text-uppercase font-weight-bold mb-0">Miền Trung</h4>
        </div>
        <div class="tour-content">
            <div class="row pt-4">
                <div class="col-sm">
                    <a href="tour-da-lat.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn//da-lat.jpg" alt="Card image">
                            <div class="card-img-overlay" style="text-align: center;">
                                <h5 style="position: absolute; top: 20px; left: 0px; right: 0px;">Đà Lạt</h5>
                                <h5 class="card-title mb-0">Giá: 3.500.000</h5>
                                <h5 style="position: absolute; right: 20px; margin-bottom: 0px">2N1Đ</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm">
                    <a href="tour-da-lat.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn//da-lat.jpg" alt="Card image">
                            <div class="card-img-overlay" style="text-align: center;">
                                <h5 style="position: absolute; top: 20px; left: 0px; right: 0px;">Đà Lạt</h5>
                                <h5 class="card-title mb-0">Giá: 3.500.000</h5>
                                <h5 style="position: absolute; right: 20px; margin-bottom: 0px">2N1Đ</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm">
                    <a href="tour-da-lat.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn//da-lat.jpg" alt="Card image">
                            <div class="card-img-overlay" style="text-align: center;">
                                <h5 style="position: absolute; top: 20px; left: 0px; right: 0px;">Đà Lạt</h5>
                                <h5 class="card-title mb-0">Giá: 3.500.000</h5>
                                <h5 style="position: absolute; right: 20px; margin-bottom: 0px">2N1Đ</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm">
                    <a href="tour-da-lat.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn//da-lat.jpg" alt="Card image">
                            <div class="card-img-overlay" style="text-align: center;">
                                <h5 style="position: absolute; top: 20px; left: 0px; right: 0px;">Đà Lạt</h5>
                                <h5 class="card-title mb-0">Giá: 3.500.000</h5>
                                <h5 style="position: absolute; right: 20px; margin-bottom: 0px">2N1Đ</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Miền Trung -->
    <br />
    <section>
        <div class="d-flex justify-content-between align-items-center py-2 tour-title">
            <h4 class="text-uppercase font-weight-bold mb-0">Miền Nam</h4>
        </div>
        <div class="tour-content">
            <div class="row pt-4">
                <div class="col-sm">
                    <a href="tour-can-tho.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn//can-tho.jpg" alt="Card image">
                            <div class="card-img-overlay" style="text-align: center;">
                                <h5 style="position: absolute; top: 20px; left: 0px; right: 0px;">Cần Thơ</h5>
                                <h5 class="card-title mb-0">Giá: 3.500.000</h5>
                                <h5 style="position: absolute; right: 20px; margin-bottom: 0px">2N1Đ</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm">
                    <a href="tour-can-tho.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn//can-tho.jpg" alt="Card image">
                            <div class="card-img-overlay" style="text-align: center;">
                                <h5 style="position: absolute; top: 20px; left: 0px; right: 0px;">Cần Thơ</h5>
                                <h5 class="card-title mb-0">Giá: 3.500.000</h5>
                                <h5 style="position: absolute; right: 20px; margin-bottom: 0px">2N1Đ</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm">
                    <a href="tour-can-tho.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn//can-tho.jpg" alt="Card image">
                            <div class="card-img-overlay" style="text-align: center;">
                                <h5 style="position: absolute; top: 20px; left: 0px; right: 0px;">Cần Thơ</h5>
                                <h5 class="card-title mb-0">Giá: 3.500.000</h5>
                                <h5 style="position: absolute; right: 20px; margin-bottom: 0px">2N1Đ</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm">
                    <a href="tour-can-tho.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn//can-tho.jpg" alt="Card image">
                            <div class="card-img-overlay" style="text-align: center;">
                                <h5 style="position: absolute; top: 20px; left: 0px; right: 0px;">Cần Thơ</h5>
                                <h5 class="card-title mb-0">Giá: 3.500.000</h5>
                                <h5 style="position: absolute; right: 20px; margin-bottom: 0px">2N1Đ</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Miền Nam -->
    <div class="d-flex justify-content-center my-5">
        <a href="gui-yeu-cau-tu-van.html"><button class="btn btn-light border border-info px-4 view-all">Gửi yêu cầu tư vấn</button></a>
    </div>
    <section class="suggestions">
        <div class="mt-5">
            <h4 class="text-uppercase font-weight-bold mb-0">Có thể bạn quan tâm</h4>
        </div>
        <div class="row">
            <div class="col-sm">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="card text-white">
                                        <img class="card-img" src="./images/tay-nguyen/thac-ban-gioc.jpg" alt="Card image">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title">Cao Bằng – Thác Bản Giốc</h5>
                                            <div><a href=""><button class="btn btn-read-more">Xem thêm</button></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="card text-white">
                                        <img class="card-img" src="./images/tay-nguyen/thac-ban-gioc.jpg" alt="Card image">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title">Cao Bằng – Thác Bản Giốc</h5>
                                            <div><a href=""><button class="btn btn-read-more">Xem thêm</button></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="card text-white">
                                        <img class="card-img" src="./images/tay-nguyen/thac-ban-gioc.jpg" alt="Card image">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title">Cao Bằng – Thác Bản Giốc</h5>
                                            <div><a href=""><button class="btn btn-read-more">Xem thêm</button></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="card text-white">
                                        <img class="card-img" src="./images/tay-nguyen/thac-ban-gioc.jpg" alt="Card image">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title">Cao Bằng – Thác Bản Giốc</h5>
                                            <div><a href=""><button class="btn btn-read-more">Xem thêm</button></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="card text-white">
                                        <img class="card-img" src="./images/tay-nguyen/thac-ban-gioc.jpg" alt="Card image">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title">Cao Bằng – Thác Bản Giốc</h5>
                                            <div><a href=""><button class="btn btn-read-more">Xem thêm</button></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="card text-white">
                                        <img class="card-img" src="./images/tay-nguyen/thac-ban-gioc.jpg" alt="Card image">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title">Cao Bằng – Thác Bản Giốc</h5>
                                            <div><a href=""><button class="btn btn-read-more">Xem thêm</button></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>