@{
    ViewData["Title"] = "Hướng dẫn thanh toán";
}

@section Banner
{
    <div class="banner-lien-he d-flex align-items-center">
        <div class="container">
            <h2 class="text-white d-flex justify-content-center font-weight-bold text-center font-40 text-uppercase pb-4">Hướng dẫn thanh toán</h2>
        </div>
    </div>
}

<main class="container py-5">
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb bg-light pl-0 mb-0">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ </a></li>
            <li class="breadcrumb-item active" aria-current="page">Hướng dẫn thanh toán</li>
        </ol>
    </nav>
    <h6 class="mb-0 contact-title" style="font-style: italic;">Quý khách có thể thanh toán bằng một trong các hình thức sau:</h6>
    <section class="contact-content">
        <h6 style="color: #00759A; font-weight: bold;">Thanh toán trực tiếp bằng tiền mặt hoặc thẻ tín dụng</h6>
        <h6>Công Ty Cổ Phần Dịch Vụ Truyền Thông & Du Lịch VITRIP</h6>
        <p>
            B43 Lô 6, khu đô thị mới Định Công, Phường Định Công, quận Hoàng Mai, Thành phố Hà Nội, Việt Nam.
        </p>
        <p>Thời gian làm việc:</p>
        <ul>
            <li>08h30 – 16h30: Từ thứ 2 đến thứ 6</li>
            <li>08h30 – 12h00: Thứ 7</li>
        </ul>
        <br>
        <h6 style="color: #00759A; font-weight: bold;">Thanh toán chuyển khoản</h6>
        <p style="padding-left: 20px;">
            1.	STK: 1019936563<br>
            Tên tài khoản: Công ty Cổ phần Dịch vụ Truyền thông và Du lịch VITRIP<br>
            Ngân hàng:  Ngân hàng TMCP Ngoại thương Việt Nam - CN Hoàn Kiếm
        </p>
        <p style="padding-left: 20px;">
            2.	STK: 21310000918317<br>
            Tên tài khoản: Công ty Cổ phần Dịch vụ Truyền thông và Du lịch VITRIP<br>
            Ngân hàng: Ngân hàng TMCP Đầu tư và Phát triển Việt Nam - CN Nam Hà Nội
        </p>
    </section>
</main>