@{
    ViewData["Title"] = "Chuẩn bị trước chuyến đi";
}

@section Banner
{
    <div class="banner-lien-he d-flex align-items-center">
        <div class="container">
            <h2 class="text-white d-flex justify-content-center font-weight-bold text-center font-40 text-uppercase pb-4">Chuẩn bị trước chuyến đi</h2>
        </div>
    </div>
}

<main class="container py-5">
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb bg-light pl-0 mb-0">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ </a></li>
            <li class="breadcrumb-item active" aria-current="page">Chuẩn bị trước chuyến đi</li>
        </ol>
    </nav>
    <section class="contact-content">
        <br>
        <ol>
            <li>
                Giấy tờ
                <ul>
                    <li>Giấy tờ yêu cầu cho xuất nhập cảnh: hộ chiếu, chứng minh thư, thẻ căn cước công dân ...</li>
                    <li>Biên bản xác nhận dịch vụ của công ty </li>
                    <li>Bản photo chương trình tour</li>
                    <li>Bản in/photo vé máy bay</li>
                    <li>Bản in/photo các vé khác đã mua</li>
                </ul>
            </li>
            <li>
                Liên hệ
                <ul>
                    <li>Lưu liên hệ hotline công ty du lịch</li>
                    <li>Lưu liên hệ hướng dẫn viên đi cùng </li>
                    <li>Lưu các số điện thoại khẩn cấp</li>
                </ul>
            </li>
            <li>
                Thiết bị điện tử
                <ul>
                    <li>Kiểm tra điện thoại</li>
                    <li>Máy ảnh</li>
                    <li>Pin dự phòng</li>
                    <li>Ổ cắm điện (tham khảo phần lưu ý riêng trong chương trình tour)</li>
                    <li>Các loại sạc</li>
                    <li>Tai nghe</li>
                </ul>
            </li>
            <li>
                Tiền tệ
                <ul>
                    <li>Tiền mặt</li>
                    <li>Thẻ tín dụng</li>
                </ul>
            </li>
            <li>
                Quần áo & đồ dùng cá nhân
                <ul>
                    <li>Trang phục theo mùa</li>
                    <li>Quần áo ngủ</li>
                    <li>Giày mềm</li>
                    <li>Ô, mũ/ nón, áo mưa hoặc dù gập</li>
                    <li>Bàn chải, kem đánh răng</li>
                    <li>Kem chống nắng </li>
                    <li>Sữa tắm, dầu gội, sữa rửa mặt</li>
                    <li>Nam: dao và kem cạo râu ... </li>
                    <li>Nữ: nước tẩy trang, băng vệ sinh, máy sấy tóc ...</li>
                    <li>Khóa vali</li>
                </ul>
            </li>
            <li>
                Sức khỏe
                <ul>
                    <li>Tiêm phòng</li>
                    <li>Các loại thuốc cá nhân nên mang</li>
                    <li>Thông báo chế độ ăn kiêng/tình trạng sức khỏe với công ty du lịch, hướng dẫn viên</li>
                </ul>
            </li>
            <li>
                Đồ dùng cho em bé (Nếu có nhu cầu)
                <ul>
                    <li>Sữa bột, bình sữa</li>
                    <li>Đồ ăn dặm/nhẹ</li>
                    <li>Bộ đồ ăn trẻ em</li>
                    <li>Ty ngậm</li>
                    <li>Sữa tắm, dầu gội dành cho trẻ em</li>
                    <li>Xe đẩy</li>
                </ul>
            </li>
        </ol>
    </section>
</main>