@{
    ViewData["Title"] = "Tell your stories";
}

@section Banner
{
    <div class="banner-mice-tour d-flex align-items-center">
        <div class="container">
            <h2 class="text-white d-flex justify-content-center font-weight-bold text-center font-40 text-uppercase pb-4">Tell your stories</h2>
        </div>
    </div>
}

<main class="container py-5">
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb bg-light pl-0 mb-0">
            <li class="breadcrumb-item"><a href="/">Trang chủ </a></li>
            <li class="breadcrumb-item active" aria-current="page">Tell your stories</li>
        </ol>
    </nav>
    <section>
        <div class="tour-content">
            <div class="row pt-4">
                <div class="col-sm">
                    <a href="tour-ha-long.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn/ha-noi.jpg" alt="Card image">
                            <div class="card-img-overlay" style="text-align: center;">
                                <h5 style="position: absolute; top: 20px; left: 0px; right: 0px;">Story 1</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm">
                    <a href="tour-ha-long.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn/ha-noi.jpg" alt="Card image">
                            <div class="card-img-overlay" style="text-align: center;">
                                <h5 style="position: absolute; top: 20px; left: 0px; right: 0px;">Story 2</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm">
                    <a href="tour-ha-long.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn/ha-noi.jpg" alt="Card image">
                            <div class="card-img-overlay" style="text-align: center;">
                                <h5 style="position: absolute; top: 20px; left: 0px; right: 0px;">Story 3</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-sm">
                    <a href="tour-ha-long.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn/ha-noi.jpg" alt="Card image">
                            <div class="card-img-overlay" style="text-align: center;">
                                <h5 style="position: absolute; top: 20px; left: 0px; right: 0px;">Story 4</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm">
                    <a href="tour-ha-long.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn/ha-noi.jpg" alt="Card image">
                            <div class="card-img-overlay" style="text-align: center;">
                                <h5 style="position: absolute; top: 20px; left: 0px; right: 0px;">Story 5</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm">
                    <a href="tour-ha-long.html">
                        <div class="card text-white">
                            <img class="card-img" src="./images/an-tuong-vn/ha-noi.jpg" alt="Card image">
                            <div class="card-img-overlay" style="text-align: center;">
                                <h5 style="position: absolute; top: 20px; left: 0px; right: 0px;">Story 6</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>