<section class="banner">
    <img src="~/img/banner/denniz.png" alt="" />
    <h4 class="text-center">TOUR DU LỊCH BIỂN ĐẢO</h4>
</section>

<section class="about-container">
    <div class="container">
        <div class="link-item">
            <a href="#">Trang chủ</a> <i class='fa fa-angle-right'></i> <a href="">Du lịch biển đảo</a> <i
                class='fa fa-angle-right'></i>
            <a href="#">Tour du lịch Hạ Long</a>
        </div>

        <div class="wrap-tour">
            <div class="list-tour">
                <div class="title-tour">
                    <a href="#">
                        <h4>
                            Du lịch hạ long - ngủ đêm trên tàu 3* - 2 ngày 1 đêm
                        </h4>
                    </a>
                </div>
                <div class="content-tour">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="imaged">
                                <a href="#"> <img src="~/img/QB.png" alt="" /></a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="content">
                                <div class="start-fly">
                                    <img src="~/img/icons/Icon metro-airplane.png" alt="" />
                                    <p>Khởi hành từ Hà Nội</p>
                                </div>
                                <p>Lịch khởi hành: Hàng ngày</p>
                                <p>Thời gian: 2 Ngày 1 Đêm</p>
                                <p>Phương tiện: Ô tô + Du thuyền ngủ đêm</p>
                                <p>
                                    Điểm thăm quan: Vịnh Hạ Long, Hang Sửng Sốt, Hang Luồn,
                                    Đảo Titop....
                                </p>
                            </div>
                            <div class="wrap-booktour">
                                <div class="book-tour mleft-0" style="width: 25%">
                                    <a href="#"><img src="~/img/icons/Icon awesome-wpforms.png" alt="" />
                                        <span>Liên hệ đặt tour</span></a>
                                </div>
                                <div class="execel-dow">
                                    <a href="#"><img src="~/img/icons/Icon awesome-download.png" alt="" />
                                        <span>Chương trình tour</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-tour">
                <p>
                    Với hành trình 2 ngày 1 đêm, chúng tôi sẽ đưa Quý khách đến với
                    danh thắng Vịnh Hạ Long - Một di sản thiên nhiên thế giới được
                    UNESCO nhiều lần công nhận. Đặc biệt du khách sẽ được thưởng
                    ngoạn và ngủ đêm trên Vịnh với du thuyền tiêu chuẩn từ 3 đến
                    sao. Du thuyền được đóng bằng gỗ với thiết kế kiến trúc Việt Nam
                    với cabin, ban công rộng rãi, phòng tắm riêng, sàn gỗ lớn, phòng
                    ăn sang trọng...
                </p>
            </div>
            <div class="wrap-tourschedule">
                <div class="list-group listTours" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active listGroupTour" id="list-tour-schedule"
                        data-toggle="list" href="#tour-schedule" role="tab" aria-controls="north-side">Lịch trình
                        tour</a>
                    <a class="list-group-item list-group-item-action listGroupTour" id="list-journey-photo"
                        data-toggle="list" href="#journey-photo" role="tab" aria-controls="center-side">Ảnh hành
                        trình</a>
                    <a class="list-group-item list-group-item-action listGroupTour" id="list-price-included"
                        data-toggle="list" href="#price-included" role="tab" aria-controls="south-side">Giá bao gồm</a>
                    <a class="list-group-item list-group-item-action listGroupTour" id="list-not-included"
                        data-toggle="list" href="#price-not-included" role="tab" aria-controls="south-side">Giá không
                        bao gồm</a>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="tour-schedule" role="tabpanel"
                        aria-labelledby="list-tour-schedule">
                        <div class="multisteps-form">
                            <!--form panels-->
                            <div class="title-scheduletour">
                                <h4>LỊCH TRÌNH TOUR</h4>
                            </div>
                            <div class="content-scheduletour">
                                <p>
                                    NGÀY 01: HÀ NỘI – HẠ LONG - HANG SỬNG SỐT ( Ăn bữa: Trưa
                                    + Tối ) Sáng: 08h15 Xe ôtô và Hướng dẫn viên của Công ty
                                    đón quý khách tại Nhà Hát Lớn, hoặc các điểm hẹn trong
                                    khu vực phố cổ, sau đó khởi hành đi Hạ Long, trên đường
                                    đi đoàn nghỉ dừng chân ở Hải Dương, tại đây bạn có thể
                                    mua sắm các sản vật địa phương hoặc đồ dùng cá nhân cho
                                    chuyến đi. (Chi phí tự túc). 11h30 Đến bến du thuyền tại
                                    Đảo Tuần Châu. Hướng dẫn viên đưa Quý khách làm thủ tục
                                    lên du thuyền, nhận phòng và bắt đầu với hành trình ngủ
                                    đêm trên du thuyền Hạ Long. 12h30 quý khách dùng bữa
                                    trưa tại nhà hàng với những món ăn được chế biến từ
                                    những nguyên liệu tươi ngon nhất và cảm nhận cảm giác
                                    vừa thưởng thức bữa trưa vừa thưởng ngoạn những cảnh đẹp
                                    trên Vịnh Hạ Long như: dãy núi Bài Thơ, Đỉnh Lư Hương,
                                    Hòn Gà Chọi và muôn nghìn hòn đảo đá tại khu vực Vịnh Hạ
                                    Long.
                                </p>
                                <p>
                                    Chiều: Sau bữa trưa, quý khách về phòng nghỉ ngơi sau đó
                                    tiếp tục hành trình khám phá Vịnh Hạ Long tại một số
                                    thắng cảnh nổi tiếng như: Hang Sửng Sốt – Một trong
                                    những hang động lớn nhất và đẹp nhất của Vịnh Hạ Long.
                                    (Quý khách sẽ thăm hang khoảng 45 phút). Sau đó thuyền
                                    đưa đoàn sang khu vực Hang Luồn – hang xuyên thủy lớn
                                    nhất ở Hạ Long, đoàn tự do chèo thuyền Kayak khám phá Hạ
                                    Long theo cách riêng của mình... 17h00 đoàn về lại du
                                    thuyền để khởi hành đến khu vực nghỉ đêm. 18h00 quý
                                    khách tự do nghỉ ngơi và dùng bữa tối tại nhà hàng trên
                                    du thuyền. Sau bữa tối, đoàn tự do nghỉ ngơi hoặc tham
                                    gia các hoạt động như: tham gia câu mực đêm, xem phim
                                    hoặc hát karaoke trên du thuyền (Nghỉ đêm trên du thuyền
                                    )
                                </p>
                                <p>
                                    NGÀY 02: HẠ LONG - ĐẢO TITOP - HÀ NỘI ( Ăn bữa: Sáng +
                                    Trưa ) Sáng: Quý khách dậy sớm, ngắm cảnh bình minh trên
                                    Vịnh Hạ Long và lưu lại cho mình khoảnh khắc tuyệt đẹp
                                    này... 07h00 Đoàn dùng bữa điểm tâm sáng tại nhà hàng
                                    của Du thuyền. 9h00: Thuyền tiếp tục đưa quý khách đến
                                    đảo Titop, quý khách tự do tắm biển thư giãn hoặc chinh
                                    phục đỉnh Titop – nơi quý khách có thể dành hàng giờ để
                                    ngắm cảnh Hạ Long toàn cảnh từ trên cao và lưu cho mình
                                    những bức hình tuyệt đẹp về Hạ Long – Một kỳ quan dựng
                                    giữ đất trời... 10h30 đoàn trở lại Du thuyền và chuẩn bị
                                    hành lý – 11h00 Du thuyền đưa đoàn về bến Du thuyền Bãi
                                    Cháy. Trên đường đi đoàn tự do nghỉ ngơi và ngắm cảnh
                                    đẹp trên vịnh một lần nữa. 11h30 Du thuyền cập bến, ôtô
                                    và hướng dẫn đưa đoàn về nhà hàng tại khu vực Bãi Cháy,
                                    dùng bữa trưa tại nhà hàng với những món ăn được chế
                                    biến từ hải sản tươi sống của vịnh Hạ Long.
                                </p>
                                <p>
                                    Chiều: 13h30 Đoàn lên xe và khởi hành về Hà Nội, trên
                                    đường về đoàn nghỉ dừng chân tại Sao Đỏ - Hải Dương,
                                    đoàn tự do mua sắm những sản vật địa phương về làm quà
                                    cho người thân và bạn bè…. Sau đó đoàn lên Ôtô khởi hành
                                    về điểm hẹn ban đầu. Kết thúc chương trình và hẹn gặp
                                    lại quý khách.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="journey-photo" role="tabpanel" aria-labelledby="list-journey-photo">
                        <div class="multisteps-form">
                            <!--form panels-->
                            <div class="title-journey">
                                <h4>ảnh hành trình</h4>
                            </div>
                            <div class="row mr-05">
                                <div class="col-md-3 pd-5">
                                    <div class="imaged-journey">
                                        <img src="~/img/hinh-anh-du-lich-ha-long.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-md-3 pd-5">
                                    <div class="imaged-journey">
                                        <img src="~/img/gioi-thieu-ha-long-2.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-md-3 pd-5">
                                    <div class="imaged-journey">
                                        <img src="~/img/116113321.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-md-3 pd-5">
                                    <div class="imaged-journey">
                                        <img src="~/img/116113321.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row mr-05">
                                <div class="col-md-3 pd-5">
                                    <div class="imaged-journey">
                                        <img src="~/img/tx_4.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-md-3 pd-5">
                                    <div class="imaged-journey">
                                        <img src="~/img/f.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-md-3 pd-5">
                                    <div class="imaged-journey">
                                        <img src="~/img/mua-nao-du-lich-ha-long.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-md-3 pd-5">
                                    <div class="imaged-journey">
                                        <img src="~/img/mua-nao-du-lich-ha-long.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row mr-05">
                                <div class="col-md-3 pd-5">
                                    <div class="imaged-journey">
                                        <img src="~/img/Mon-Cheri-Suites-Terrace-2.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-md-3 pd-5">
                                    <div class="imaged-journey">
                                        <img src="~/img/118851224_310041193419040_4740107050231910135_n.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-md-3 pd-5">
                                    <div class="imaged-journey">
                                        <img src="~/img/vinh-ha-long-1.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-md-3 pd-5">
                                    <div class="imaged-journey">
                                        <img src="~/img/vinh-ha-long-1.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="price-included" role="tabpanel"
                        aria-labelledby="list-price-included">
                        <div class="multisteps-form">
                            <!--form panels-->
                            <div class="title-journey">
                                <h4>giá bao gồm</h4>
                            </div>
                            <div class="content-price">
                                <div class="list-price">
                                    <img src="~/img/icons/Tick.png" alt="" />
                                    <p>Xe ôtô máy lạnh hạng sang đưa đón theo hành trình</p>
                                </div>
                                <div class="list-price">
                                    <img src="~/img/icons/Tick.png" alt="" />
                                    <p>
                                        01 đêm nghỉ tại du thuyền trên vịnh ( 02 người/01
                                        phòng )
                                    </p>
                                </div>
                                <div class="list-price">
                                    <img src="~/img/icons/Tick.png" alt="" />
                                    <p>
                                        03 bữa ăn chính trên du thuyền ( mức ăn tùy từng du
                                        thuyền, thấp nhất 120.000 VNĐ/01 khách )
                                    </p>
                                </div>
                                <div class="list-price">
                                    <img src="~/img/icons/Tick.png" alt="" />
                                    <p>
                                        Du thuyền hạng sang thăm quan vịnh Hạ Long theo hành
                                        trình.
                                    </p>
                                </div>
                                <div class="list-price">
                                    <img src="~/img/icons/Tick.png" alt="" />
                                    <p>Vé thắng cảnh tại Hạ Long ( hành trình 04 tiếng )</p>
                                </div>
                                <div class="list-price">
                                    <img src="~/img/icons/Tick.png" alt="" />
                                    <p>
                                        Hướng dẫn viên kinh nghiệm, nhiệt tình chu đáo phục vụ
                                        đoàn theo hành trình
                                    </p>
                                </div>
                                <div class="list-price">
                                    <img src="~/img/icons/Tick.png" alt="" />
                                    <p>
                                        Bảo hiểm du lịch toàn tuyến mức đền bù tối đa:
                                        10.000.000 VNĐ/01 vụ
                                    </p>
                                </div>
                                <div class="list-price">
                                    <img src="~/img/icons/Tick.png" alt="" />
                                    <p>01 chai nước/01ngày/01 khách.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="price-not-included" role="tabpanel"
                        aria-labelledby="list-not-included">
                        <div class="multisteps-form">
                            <!--form panels-->
                            <div class="title-journey">
                                <h4>giá không bao gồm</h4>
                            </div>
                            <div class="content-price">
                                <div class="list-price">
                                    <img src="~/img/icons/Component 2.png" alt="" />
                                    <p>
                                        Chi phí cá nhân và các chi phí ngoài chương trình.
                                    </p>
                                </div>
                                <div class="list-price">
                                    <img src="~/img/icons/Component 2.png" alt="" />
                                    <p>
                                        Thuyền Kayak ( giá: 100.000 VNĐ/01 thuyền dành cho 02
                                        người )
                                    </p>
                                </div>
                                <div class="list-price">
                                    <img src="~/img/icons/Component 2.png" alt="" />
                                    <p>Thuế VAT 10%</p>
                                </div>
                            </div>
                            <div class="title-note">
                                <h4>Ghi chú</h4>
                            </div>
                            <div class="content-price">
                                <div class="list-price">
                                    <img src="~/img/icons/Component 2.png" alt="" />
                                    <p>Trẻ em từ 01 tuổi đến 04 tuổi miễn phí;</p>
                                </div>
                                <div class="list-price">
                                    <img src="~/img/icons/Component 2.png" alt="" />
                                    <p>Trẻ em từ 05 – 07 tuổi tính 50%;</p>
                                </div>
                                <div class="list-price">
                                    <img src="~/img/icons/Component 2.png" alt="" />
                                    <p>Từ 08 – 09tuổi tính 75% giá tour;</p>
                                </div>
                                <div class="list-price">
                                    <img src="~/img/icons/Component 2.png" alt="" />
                                    <p>Từ 10 tuổi trở lên tính giá như người lớn</p>
                                </div>
                                <div class="list-price">
                                    <img src="~/img/icons/Component 2.png" alt="" />
                                    <p>
                                        Mỗi gia đình chỉ được đi kèm 01 trẻ Em miễn phí, Trẻ
                                        thứ 02 thì tính 50 % giá người lớn.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slider-areas">
    <div class="container">
        <h5>Có thể bạn quan tâm</h5>
    </div>
    <div class="carousel-wrap">
        <div class="owl-areas owl-carousel">
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="~/img/pexels-lam-loi-1070139.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Đà Nẵng, Nha Trang</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="~/img/pexels-loifotos-3282516.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Phú Yên</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="~/img/pexels-loifotos-2853964.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Buôn Ma Thuật</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="~/img/pexels-lam-loi-1070139.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Đà Nẵng, Nha Trang</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="~/img/pexels-loifotos-3282516.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Phú Yên</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="~/img/pexels-loifotos-2853964.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Buôn Ma Thuật</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="~/img/pexels-lam-loi-1070139.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Đà Nẵng, Nha Trang</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="~/img/pexels-loifotos-3282516.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Phú Yên</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="~/img/pexels-loifotos-2853964.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Buôn Ma Thuật</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>