<section class="banner">
    <img src="img/banner/denniz.png" alt="" />
    <h4 class="text-center">Team building</h4>
</section>
<section class="areas-container">
    <div class="container">
        <div class="link-item">
            <a href="/">Trang chủ </a> <i class='fa fa-angle-right'></i>
            <a href="">Team Building</a>
        </div>
        <div class="wrap-areas">
            <h5 class="title-news">Miền bắc</h5>
            <div class="row mr-05">
                <div class="col-md-4 pd-5">
                    <div class="wrap-place">
                        <div class="image">
                            <a href="#">
                                <img src="img/jeju-island-1626596567-9025-1626599005.png" alt="" /></a>
                            <p class="address-tour">Từ Hà Nội</p>
                        </div>
                        <div class="content">
                            <div class="title">
                                <a href="#">
                                    <p>
                                        Tour Hà Nội- Quảng Bình 3 ngày 3 đêm: Khám phá dải đất
                                        miền trung xinh đẹp
                                    </p>
                                </a>
                            </div>
                            <div class="desc-infor">
                                <div class="infor-trip">
                                    <p><i class="fa fa-calendar"></i> Thứ 5 hàng ngày</p>
                                    <p><i class="fa fa-clock" aria-hidden="true"></i> 3 ngày 3 đêm</p>

                                    <p class="price-trip">3.499.000₫/khách</p>
                                </div>
                                <div class="advise-customer">
                                    <a href="#"><span>Gửi yêu cầu tư vấn</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pd-5">
                    <div class="wrap-place">
                        <div class="image">
                            <a href="#">
                                <img src="img/jeju-island-1626596567-9025-1626599005.png" alt="" /></a>
                            <p class="address-tour">Từ Ninh Bình</p>
                        </div>
                        <div class="content">
                            <div class="title">
                                <a href="#">
                                    <p>
                                        Tour Hà Nội- Quảng Bình 3 ngày 3 đêm: Khám phá dải đất
                                        miền trung xinh đẹp
                                    </p>
                                </a>
                            </div>
                            <div class="desc-infor">
                                <div class="infor-trip">
                                    <p><i class="fa fa-calendar"></i> Thứ 5 hàng ngày</p>
                                    <p><i class="fa fa-clock" aria-hidden="true"></i> 3 ngày 3 đêm</p>
                                    <p class="price-trip">3.499.000₫/khách</p>
                                </div>
                                <div class="advise-customer">
                                    <a href="#"><span>Gửi yêu cầu tư vấn</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pd-5">
                    <div class="wrap-place">
                        <div class="image">
                            <a href="#"> <img src="img/hong-son.png" alt="" /></a>
                            <p class="address-tour">Từ Ninh Bình</p>
                        </div>
                        <div class="content">
                            <div class="title">
                                <a href="#">
                                    <p>
                                        Tour Hà Nội- Quảng Bình 3 ngày 3 đêm: Khám phá dải đất
                                        miền trung xinh đẹp
                                    </p>
                                </a>
                            </div>
                            <div class="desc-infor">
                                <div class="infor-trip">
                                    <p><i class="fa fa-calendar"></i> Thứ 5 hàng ngày</p>
                                    <p><i class="fa fa-clock" aria-hidden="true"></i> 3 ngày 3 đêm</p>
                                    <p class="price-trip">3.499.000₫/khách</p>
                                </div>
                                <div class="advise-customer">
                                    <a href="#"><span>Gửi yêu cầu tư vấn</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mr-05">
                <div class="col-md-4 pd-5">
                    <div class="wrap-place">
                        <div class="image">
                            <a href="#">
                                <img src="img/pexels-quang-nguyen-vinh-6346644.png" alt="" /></a>
                            <p class="address-tour">Từ Mộc Châu</p>
                        </div>
                        <div class="content">
                            <div class="title">
                                <a href="#">
                                    <p>
                                        Tour Hà Nội- Quảng Bình 3 ngày 3 đêm: Khám phá dải đất
                                        miền trung xinh đẹp
                                    </p>
                                </a>
                            </div>
                            <div class="desc-infor">
                                <div class="infor-trip">
                                    <p><i class="fa fa-calendar"></i> Thứ 5 hàng ngày</p>
                                    <p><i class="fa fa-clock" aria-hidden="true"></i> 3 ngày 3 đêm</p>
                                    <p class="price-trip">3.499.000₫/khách</p>
                                </div>
                                <div class="advise-customer">
                                    <a href="#"><span>Gửi yêu cầu tư vấn</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pd-5">
                    <div class="wrap-place">
                        <div class="image">
                            <a href="#">
                                <img src="img/pexels-thanhhoa-tran-1486578.png" alt="" /></a>
                            <p class="address-tour">Từ Hà Giang</p>
                        </div>
                        <div class="content">
                            <div class="title">
                                <a href="#">
                                    <p>
                                        Tour Hà Nội- Quảng Bình 3 ngày 3 đêm: Khám phá dải đất
                                        miền trung xinh đẹp
                                    </p>
                                </a>
                            </div>
                            <div class="desc-infor">
                                <div class="infor-trip">
                                    <p><i class="fa fa-calendar"></i> Thứ 5 hàng ngày</p>
                                    <p><i class="fa fa-clock" aria-hidden="true"></i> 3 ngày 3 đêm</p>
                                    <p class="price-trip">3.499.000₫/khách</p>
                                </div>
                                <div class="advise-customer">
                                    <a href="#"><span>Gửi yêu cầu tư vấn</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pd-5">
                    <div class="wrap-place">
                        <div class="image">
                            <a href="#">
                                <img src="img/pexels-vo-thuy-tien-2602490.png" alt="" /></a>
                            <p class="address-tour">Từ Mai Châu-Hòa Bình</p>
                        </div>
                        <div class="content">
                            <div class="title">
                                <a href="#">
                                    <p>
                                        Tour Hà Nội- Quảng Bình 3 ngày 3 đêm: Khám phá dải đất
                                        miền trung xinh đẹp
                                    </p>
                                </a>
                            </div>
                            <div class="desc-infor">
                                <div class="infor-trip">
                                    <p><i class="fa fa-calendar"></i> Thứ 5 hàng ngày</p>
                                    <p><i class="fa fa-clock" aria-hidden="true"></i> 3 ngày 3 đêm</p>
                                    <p class="price-trip">3.499.000₫/khách</p>
                                </div>
                                <div class="advise-customer">
                                    <a href="#"><span>Gửi yêu cầu tư vấn</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="link-tour">
                <a href="#">Tất cả Tour</a>
            </div>
        </div>

        <div class="wrap-areas">
            <h5 class="title-news">Miền trung</h5>
            <div class="row mr-05">
                <div class="col-md-4 pd-5">
                    <div class="wrap-place">
                        <div class="image">
                            <a href="#">
                                <img src="img/jeju-island-1626596567-9025-1626599005.png" alt="" /></a>
                            <p class="address-tour">Từ Hà Nội</p>
                        </div>
                        <div class="content">
                            <div class="title">
                                <a href="#">
                                    <p>
                                        Tour Hà Nội- Quảng Bình 3 ngày 3 đêm: Khám phá dải đất
                                        miền trung xinh đẹp
                                    </p>
                                </a>
                            </div>
                            <div class="desc-infor">
                                <div class="infor-trip">
                                    <p><i class="fa fa-calendar"></i> Thứ 5 hàng ngày</p>
                                    <p><i class="fa fa-clock" aria-hidden="true"></i> 3 ngày 3 đêm</p>
                                    <p class="price-trip">3.499.000₫/Khách</p>
                                </div>
                                <div class="advise-customer">
                                    <a href="#"><span>Gửi yêu cầu tư vấn</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pd-5">
                    <div class="wrap-place">
                        <div class="image">
                            <a href="#">
                                <img src="img/jeju-island-1626596567-9025-1626599005.png" alt="" /></a>
                            <p class="address-tour">Từ Ninh Bình</p>
                        </div>
                        <div class="content">
                            <div class="title">
                                <a href="#">
                                    <p>
                                        Tour Hà Nội- Quảng Bình 3 ngày 3 đêm: Khám phá dải đất
                                        miền trung xinh đẹp
                                    </p>
                                </a>
                            </div>
                            <div class="desc-infor">
                                <div class="infor-trip">
                                    <p><i class="fa fa-calendar"></i> Thứ 5 hàng ngày</p>
                                    <p><i class="fa fa-clock" aria-hidden="true"></i> 3 ngày 3 đêm</p>
                                    <p class="price-trip">3.499.000₫/khách</p>
                                </div>
                                <div class="advise-customer">
                                    <a href="#"><span>Gửi yêu cầu tư vấn</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pd-5">
                    <div class="wrap-place">
                        <div class="image">
                            <a href="#"> <img src="img/hong-son.png" alt="" /></a>
                            <p class="address-tour">Từ Ninh Bình</p>
                        </div>
                        <div class="content">
                            <div class="title">
                                <a href="#">
                                    <p>
                                        Tour Hà Nội- Quảng Bình 3 ngày 3 đêm: Khám phá dải đất
                                        miền trung xinh đẹp
                                    </p>
                                </a>
                            </div>
                            <div class="desc-infor">
                                <div class="infor-trip">
                                    <p><i class="fa fa-calendar"></i> Thứ 5 hàng ngày</p>
                                    <p><i class="fa fa-clock" aria-hidden="true"></i> 3 ngày 3 đêm</p>
                                    <p class="price-trip">3.499.000₫/khách</p>
                                </div>
                                <div class="advise-customer">
                                    <a href="#"><span>Gửi yêu cầu tư vấn</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mr-05">
                <div class="col-md-4 pd-5">
                    <div class="wrap-place">
                        <div class="image">
                            <a href="#">
                                <img src="img/pexels-quang-nguyen-vinh-6346644.png" alt="" /></a>
                            <p class="address-tour">Từ Mộc Châu</p>
                        </div>
                        <div class="content">
                            <div class="title">
                                <a href="#">
                                    <p>
                                        Tour Hà Nội- Quảng Bình 3 ngày 3 đêm: Khám phá dải đất
                                        miền trung xinh đẹp
                                    </p>
                                </a>
                            </div>
                            <div class="desc-infor">
                                <div class="infor-trip">
                                    <p><i class="fa fa-calendar"></i> Thứ 5 hàng ngày</p>
                                    <p><i class="fa fa-clock" aria-hidden="true"></i> 3 ngày 3 đêm</p>
                                    <p class="price-trip">3.499.000₫/khách</p>
                                </div>
                                <div class="advise-customer">
                                    <a href="#"><span>Gửi yêu cầu tư vấn</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pd-5">
                    <div class="wrap-place">
                        <div class="image">
                            <a href="#">
                                <img src="img/pexels-thanhhoa-tran-1486578.png" alt="" /></a>
                            <p class="address-tour">Từ Hà Giang</p>
                        </div>
                        <div class="content">
                            <div class="title">
                                <a href="#">
                                    <p>
                                        Tour Hà Nội- Quảng Bình 3 ngày 3 đêm: Khám phá dải đất
                                        miền trung xinh đẹp
                                    </p>
                                </a>
                            </div>
                            <div class="desc-infor">
                                <div class="infor-trip">
                                    <p><i class="fa fa-calendar"></i> Thứ 5 hàng ngày</p>
                                    <p><i class="fa fa-clock" aria-hidden="true"></i> 3 ngày 3 đêm</p>
                                    <p class="price-trip">3.499.000₫/khách</p>
                                </div>
                                <div class="advise-customer">
                                    <a href="#"><span>Gửi yêu cầu tư vấn</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pd-5">
                    <div class="wrap-place">
                        <div class="image">
                            <a href="#">
                                <img src="img/pexels-vo-thuy-tien-2602490.png" alt="" /></a>
                            <p class="address-tour">Từ Mai Châu-Hòa Bình</p>
                        </div>
                        <div class="content">
                            <div class="title">
                                <a href="#">
                                    <p>
                                        Tour Hà Nội- Quảng Bình 3 ngày 3 đêm: Khám phá dải đất
                                        miền trung xinh đẹp
                                    </p>
                                </a>
                            </div>
                            <div class="desc-infor">
                                <div class="infor-trip">
                                    <p><i class="fa fa-calendar"></i> Thứ 5 hàng ngày</p>
                                    <p><i class="fa fa-clock" aria-hidden="true"></i> 3 ngày 3 đêm</p>
                                    <p class="price-trip">3.499.000₫/khách</p>
                                </div>
                                <div class="advise-customer">
                                    <a href="#"><span>Gửi yêu cầu tư vấn</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="link-tour">
                <a href="#">Tất cả Tour</a>
            </div>
        </div>
        <div class="wrap-areas">
            <h5 class="title-news">Miền nam</h5>
            <div class="row mr-05">
                <div class="col-md-4 pd-5">
                    <div class="wrap-place">
                        <div class="image">
                            <a href="#">
                                <img src="img/jeju-island-1626596567-9025-1626599005.png" alt="" /></a>
                            <p class="address-tour">Từ Hà Nội</p>
                        </div>
                        <div class="content">
                            <div class="title">
                                <a href="#">
                                    <p>
                                        Tour Hà Nội- Quảng Bình 3 ngày 3 đêm: Khám phá dải đất
                                        miền trung xinh đẹp
                                    </p>
                                </a>
                            </div>
                            <div class="desc-infor">
                                <div class="infor-trip">
                                    <p><i class="fa fa-calendar"></i> Thứ 5 hàng ngày</p>
                                    <p><i class="fa fa-clock" aria-hidden="true"></i> 3 ngày 3 đêm</p>
                                    <p class="price-trip">3.499.000₫/khách</p>
                                </div>
                                <div class="advise-customer">
                                    <a href="#"><span>Gửi yêu cầu tư vấn</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pd-5">
                    <div class="wrap-place">
                        <div class="image">
                            <a href="#">
                                <img src="img/jeju-island-1626596567-9025-1626599005.png" alt="" /></a>
                            <p class="address-tour">Từ Ninh Bình</p>
                        </div>
                        <div class="content">
                            <div class="title">
                                <a href="#">
                                    <p>
                                        Tour Hà Nội- Quảng Bình 3 ngày 3 đêm: Khám phá dải đất
                                        miền trung xinh đẹp
                                    </p>
                                </a>
                            </div>
                            <div class="desc-infor">
                                <div class="infor-trip">
                                    <p><i class="fa fa-calendar"></i> Thứ 5 hàng ngày</p>
                                    <p><i class="fa fa-clock" aria-hidden="true"></i> 3 ngày 3 đêm</p>
                                    <p class="price-trip">3.499.000₫/khách</p>
                                </div>
                                <div class="advise-customer">
                                    <a href="#"><span>Gửi yêu cầu tư vấn</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pd-5">
                    <div class="wrap-place">
                        <div class="image">
                            <a href="#"> <img src="img/hong-son.png" alt="" /></a>
                            <p class="address-tour">Từ Ninh Bình</p>
                        </div>
                        <div class="content">
                            <div class="title">
                                <a href="#">
                                    <p>
                                        Tour Hà Nội- Quảng Bình 3 ngày 3 đêm: Khám phá dải đất
                                        miền trung xinh đẹp
                                    </p>
                                </a>
                            </div>
                            <div class="desc-infor">
                                <div class="infor-trip">
                                    <p><i class="fa fa-calendar"></i> Thứ 5 hàng ngày</p>
                                    <p><i class="fa fa-clock" aria-hidden="true"></i> 3 ngày 3 đêm</p>
                                    <p class="price-trip">3.499.000₫/khách</p>
                                </div>
                                <div class="advise-customer">
                                    <a href="#"><span>Gửi yêu cầu tư vấn</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mr-05">
                <div class="col-md-4 pd-5">
                    <div class="wrap-place">
                        <div class="image">
                            <a href="#">
                                <img src="img/pexels-quang-nguyen-vinh-6346644.png" alt="" /></a>
                            <p class="address-tour">Từ Mộc Châu</p>
                        </div>
                        <div class="content">
                            <div class="title">
                                <a href="#">
                                    <p>
                                        Tour Hà Nội- Quảng Bình 3 ngày 3 đêm: Khám phá dải đất
                                        miền trung xinh đẹp
                                    </p>
                                </a>
                            </div>
                            <div class="desc-infor">
                                <div class="infor-trip">
                                    <p><i class="fa fa-calendar"></i> Thứ 5 hàng ngày</p>
                                    <p><i class="fa fa-clock" aria-hidden="true"></i> 3 ngày 3 đêm</p>
                                    <p class="price-trip">3.499.000₫/khách</p>
                                </div>
                                <div class="advise-customer">
                                    <a href="#"><span>Gửi yêu cầu tư vấn</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pd-5">
                    <div class="wrap-place">
                        <div class="image">
                            <a href="#">
                                <img src="img/pexels-thanhhoa-tran-1486578.png" alt="" /></a>
                            <p class="address-tour">Từ Hà Giang</p>
                        </div>
                        <div class="content">
                            <div class="title">
                                <a href="#">
                                    <p>
                                        Tour Hà Nội- Quảng Bình 3 ngày 3 đêm: Khám phá dải đất
                                        miền trung xinh đẹp
                                    </p>
                                </a>
                            </div>
                            <div class="desc-infor">
                                <div class="infor-trip">
                                    <p><i class="fa fa-calendar"></i> Thứ 5 hàng ngày</p>
                                    <p><i class="fa fa-clock" aria-hidden="true"></i> 3 ngày 3 đêm</p>
                                    <p class="price-trip">3.499.000₫/khách</p>
                                </div>
                                <div class="advise-customer">
                                    <a href="#"><span>Gửi yêu cầu tư vấn</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pd-5">
                    <div class="wrap-place">
                        <div class="image">
                            <a href="#">
                                <img src="img/pexels-vo-thuy-tien-2602490.png" alt="" /></a>
                            <p class="address-tour">Từ Mai Châu-Hòa Bình</p>
                        </div>
                        <div class="content">
                            <div class="title">
                                <a href="#">
                                    <p>
                                        Tour Hà Nội- Quảng Bình 3 ngày 3 đêm: Khám phá dải đất
                                        miền trung xinh đẹp
                                    </p>
                                </a>
                            </div>
                            <div class="desc-infor">
                                <div class="infor-trip">
                                    <p><i class="fa fa-calendar"></i> Thứ 5 hàng ngày</p>
                                    <p><i class="fa fa-clock" aria-hidden="true"></i> 3 ngày 3 đêm</p>
                                    <p class="price-trip">3.499.000₫/khách</p>
                                </div>
                                <div class="advise-customer">
                                    <a href="#"><span>Gửi yêu cầu tư vấn</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="link-tour">
                <a href="#">Tất cả Tour</a>
            </div>
        </div>
    </div>
</section>
<section class="slider-areas">
    <div class="container">
        <h5>Có thể bạn quan tâm</h5>
    </div>
    <div class="carousel-wrap">
        <div class="owl-areas owl-carousel">
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="img/pexels-lam-loi-1070139.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Đà Nẵng, Nha Trang</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="img/pexels-loifotos-3282516.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Phú Yên</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="img/pexels-loifotos-2853964.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Buôn Ma Thuật</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="img/pexels-lam-loi-1070139.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Đà Nẵng, Nha Trang</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="img/pexels-loifotos-3282516.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Phú Yên</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="img/pexels-loifotos-2853964.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Buôn Ma Thuật</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="img/pexels-lam-loi-1070139.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Đà Nẵng, Nha Trang</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="img/pexels-loifotos-3282516.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Phú Yên</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="img/pexels-loifotos-2853964.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Buôn Ma Thuật</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>